

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    /*overflow: hidden;*/
    max-width: 100%;
    max-height: 100%;
}
md-toolbar-tools {
    font-family: Montserrat;
}

.background-shade-out {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    transition: visibility 0s linear 0.23s, opacity 0.5s linear  0.3s;
}

a {
    color: #30BCCF; /*#00AFD8;*/
}

a:hover,
a:focus {
    cursor: pointer;
    color: #006C86;
    text-decoration: none;
}

a.disabled {
    cursor: not-allowed;
}

.position-fixed {
    position: fixed;
}

.bold {
    font-weight: 800;
}

.nowrap {
    white-space: nowrap;
}

#content{
    padding: 5px 20px;
}

.app-toolbar,
.main-toolbar {
    padding-left: 0;
}

.logo {
    position: relative;
}

.logo a:hover {
    opacity: 0.9;
    text-decoration: none;
}

.logo .ms-status {
    position: absolute;
    right: -20px;
    top: 5px;
    font-size: .6em;
    color: #aaa;
}

.logo-sub-text {
    margin: 10px 0 0 0;
    font-size: 1.17em;
}

/**
 * animations
 */
.animate-show {
    -webkit-transition: all linear 0.1s !important;
    transition: all linear 0.1s !important;
}

.animate-show.ng-hide {
  opacity: 0 !important;
}


/**
 * lists
 */
.info-list {
    font-size: 1.2em;
    margin: 0 0 0 10px;
}
.info-list .sub-item {
    margin: 0 0 0 30px;
}

.info-check {
    content: &#10003;
    position:relative;
    top: 2px;
    font-size: 1.5em;
    color: #2FBBD0;
}

.md-primary { /*hack hack hack #fixme */
    background-color: #30BCCF !important;
    color: #fff !important;
}

.md-secondary {
    background-color: rgba(95, 98, 168, 0.91) !important;
    color: #fff !important;
}

.md-danger {
    background-color: #DA265D !important;
    color: #fff !important;
}

.md-success {
    background-color: #38BD5C !important;
    color: #fff !important;
}

md-toolbar {
    z-index: 49;
}



.ms-color { color: #26C6DA; }
.ms-color-complete, .color-complete { color: #26DA4A; }
.ms-color-error, .color-error { color: #DA265D; }
.color-light-purple { color: #E5E4FF !important; }

.inline { display: inline; }

.text-highlight {
    color: #000;
    background-color: rgba(249, 255, 179, 0.43);
    background-color: rgba(48, 175, 198, 0.125);
    border-radius: 5px;
    padding: 3px;
    margin: -3px;
    font-weight: 800;
}

.text-light {
    color: #888;
}

.hover:hover {
    opacity: 1.0;
}
.hover {
    opacity: 0.7;
}

a.no-link {
    color: #000;
        opacity: 0.7;
    text-decoration: none;
}

a.no-link:hover {
    opacity: 1.0;
}

a.no-href {
    text-decoration: none;
}

pre {
    margin: inherit;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.hidden {
    visibility: hidden;
}

.small {
    font-size: .8em;
}

small.help-text {
    font-size: 8pt;
}


#login {
    border-right: 1px solid #666;
}

.alt-login-container {
    margin: 20px 20px;
}

.alt-login-patric img {
    border: 2px solid #ddd;
}

td[editable] {
    position: relative;
}

.editable-header {
    font-size: 24px;
}

.editable-textarea {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.md-button {
    text-transform: none;
}
.login img {
    margin: -2px 5px 0 0;
    width: 40px;
    height: 40px;
}

.alt-login {
    margin-top: 10px;
}

.alt-login:hover {
    opacity: 0.9;
    cursor: pointer;
}

.alt-login div {
    margin: 8px 10px;
}

.label-beta {
    font-size: 10px;
    position: absolute;
}

.label-alpha {
    font-size: 10px;
}

:focus {
    outline: none !important;
}

.no-margin {
    margin: 0;
}

.pointer:hover {
    cursor: hand;
    cursor: pointer;
}
.cursor:hover {
    cursor: default;
}

.form-control, .btn {
    border-radius: 0px !important;
}

/**
 * navigation mods
 */

md-toolbar,
.md-toolbar-tools {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

.md-toolbar-accent {
    background-color: #30BCCF !important;
}

.md-toolbar-tools {
    font-size: 1em;
    background-color: #2D224E;
}

/* toolbars */
ul.toolbar {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

ul.toolbar > li {
    color: #EBEBEB;
    height: 100%;
    display: inline-block;
    transition: border-width 100ms;
}
ul.toolbar > li.active {
    border-bottom: 3px solid #ddd;
}
ul.toolbar > li:not(.active):hover {
    border-bottom: 3px solid #ddd; /*#30BCCF;/* /*#9FA1DE;*/
}

ul.toolbar > li > a {
    display: block;
    font-size: 8pt;
    line-height: 1.1em;
    margin: 0 7px;
    text-align: center;
    height: 100%;
}

ul.toolbar > li:hover > a,
ul.toolbar > li.active > a {
    color: #EBEBEB;

}

ul.toolbar > li > a >i:not(.fa-caret-down) {
    display: inline-block;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}

ul.toolbar li > a > i.icon-benzene {
    font-weight: 600;
}


.brand-home {
    background-color: transparent;
}
.brand-home:hover {
    background-color: transparent !important;
}


.toolbar-right {

    height: 100%;
}

.toolbar-right > div {
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 0px 10px;
}
.toolbar-right > div > a{
    display: block;
    height: 100%;
    padding-top: 15px;
}

.toolbar-right > div li {
    display: block;
    width: 100%;
}
.toolbar-right > div li a{
    white-space:nowrap;
    display: block;
    width: 100%;
    padding: 5px 15px;
}

.toolbar-right ul{
    display: block;
    margin: 0;
    width: 100%;
}

ul.about-toolbar {
    list-style: none;
    padding: 0;
}

ul.about-toolbar > li {
    color: #EBEBEB;
    display: block;
    height: 100%;
    transition: border-width 100ms;
    margin-right: 1px;
}


ul.about-toolbar > li > a {
    margin: 0;
    padding: 15px;
    height: 100%;
    display: block;
}


ul.about-toolbar > li:hover > a ,
ul.about-toolbar > li.active > a{
    color: #EBEBEB;
}

ul.about-toolbar > li:hover,
ul.about-toolbar > li.active {
    border-bottom: 3px solid #EBEBEB;/*#9FA1DE;*/
}

.sidebar h4 {
    margin: 20px 0 0 20px
}

.sidebar ul {
    list-style: none;
    margin-top: 15px;
}

.sidebar ul > li {
    display: block;
    height: 100%;
    width: 100%;
    transition: border-width 150ms;
    margin-right: 1px;
}


.sidebar ul > li > a {
    margin: 0;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    display: block;
}

.sidebar ul > li.active > a{
    color: #666;
}

.sidebar ul > li:hover {
    border-left: 3px solid #30BCD0;
}

.sidebar ul > li.active,
.sidebar ul > li:hover  {
    border-left: 3px solid #666;
}


/*
.sidebar {
    z-index: 50;
    color: #fff;
    background-color: #555;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}*/

/*
.nav .open>a {
    background-color: #26D3DA !important;
}*/

.btn-add-model {
    padding: 0px 5px;
}

.btn-rm-model {
    font-size: 1.5em;
}


#selected-models {
    padding: 10px;
    min-width: 240px;
    right: -75px;
}

#selected-models hr {
    height: 1px;
    background-color: #aaa;
    margin: 10px 0;
}

.selected-model {
    border: 1px solid #dfdfdf;
    padding: 10px 28px 10px 10px;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
}

.selected-model a {
    color: #2FBBD0;
}
.selected-model a:hover {
    color: #0081A0;
}

.selected-model-options {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 0 0 5px;
    font-size: 18px;
    color: #222;
    height: 100%;
    /*background-color: #000;*/
    opacity: 0;
    transition: opacity 0.1s linear;
}

.selected-model:hover .selected-model-options{
    visibility: visible;
    opacity: 1.0;
}

.selected-model .sub-item {
    font-size: .9em;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/**
 * pages
 */
.btn-outline {
    margin-top: 10px;
    border: solid 2px #30BCCF;
    color: #30BCCF;
    background: 0 0;
    border-radius: 3px !important;
    transition: all .15s ease-in-out;
    font-size: 1.4em;
    padding: 10px;
}

.btn-outline:hover {
    /*border: solid 2px #30BCCF;*/
    color: #fff;
    background-color: #30BCCF;
    border: solid 2px #30BCCF;
}

.btn-outline md-icon {
    color: #30BCCF;
    transition: all .15s ease-in-out;

}
.btn-outline:hover md-icon {
    color: #fff;
}

.content-header {
    font-size: 30px;
    line-height: 0.9em;
    margin-top: 20px;

}

.content-header .help-text {
    color: #888;
    position: relative;
    top: -10px;
}

#content .nav-tabs {
    margin: 10px 0 0 0;
}

#content .tab-content {
    margin: 10px 0 0 0;
}

/* pathway stuff */
.pathway {
    position: absolute;
    top: 0;
    left: 0;
}

.pathway-container {
    margin-top: 10px;
    position: relative;
}

/**
 * tables
 */
.item-not-found {
    margin-left: 40px;
    color: #777;
}

tr[role=button] {
    cursor: default;
}
tr span[role=button] {
    cursor: default;
}

.table-small {
    font-size: 0.8em;
}

.table {
    width: 100%;
    margin-bottom: 0;
}

.table-horizontal > tbody > tr > td:first-child {
    font-weight: 800;
}

.table-horizontal > tbody > tr:first-child {
    border-width: 0px;
}

.table-loading {
    margin-bottom: -10px !important;
}
.no-data {
  margin: 150px 0 0;
}

#data-browser.table>tbody>tr>td {
    vertical-align: inherit;
}

table thead th[sortable]:not(:empty):after {
  content: "\f0dc";
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
  margin-left: 3px;
}

table thead th[sortable].sorting-desc:after {
  content: "\f0de";
  font-family: fontawesome;
  color: #222;
}

table thead th[sortable].sorting-asc:after {
  content: "\f0dd";
  font-family: fontawesome;
  color: #222;
}
table thead th[sortable="false"] {
    cursor: default;
}
table thead th[sortable="false"]:not(:empty):after {
    cursor: default;
    content: normal ;
}

.row-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 188, 212, 0.04) !important;
    /*background-color: #4AC1FF;
    color: #fff;*/
    border-color: #B6E6FF;
}

.row-hover:hover div:first-child i.fa-caret-right,
.row-hover:hover td:first-child i.fa-square-o,
.row-hover:hover td:first-child i.fa-circle-o {
    opacity: 1.0 !important;
}

.row-hover div:first-child i.fa-caret-right,
.row-hover td:first-child i.fa-square-o,
.row-hover td:first-child i.fa-circle-o {
    opacity: 0.5 !important;
}

.table-controls {
    margin: 20px 0 0 0;
}

md-input-container[pagination] span {
    margin-right: 10px;
}

.table-controls .btn-reconstruct {
    margin: 0 0 0 50px;
}

.table-controls .btn-default {
    height: 30px;
}

.table-controls  {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    cursor:default;
}
.table-controls .md-button {
    margin: 5px;
}

table th:hover {
    cursor: pointer;
}

.table-borderless > tbody > tr >td{
    border-top: none;
}

table tr.active {
    background-color: #ddd;
}

table md-checkbox {
    margin: 0;
}

.table-selector > tbody > tr > td:first-child,
.table-editor > tbody > tr > td:first-child,
.table-selector > tbody > tr > td:first-child md-checkbox,
.table-editor > tbody > tr > td:first-child md-checkbox {
    width: 1px;
    height: 1px;
}

.table-editor-controls md-input-container {
    padding-bottom: 5px;
}

.table-controls .md-button,
.table-editor-controls .md-button,
.table-selector-controls .md-button  {
    min-width: 0;
    padding: 0px 10px;
}

.table-vertical-center td {
    vertical-align: middle !important;
    white-space: nowrap;
}


/**
 * custom tables
 */
.expanded-table {
    margin: 10px 0 20px 0;
    padding-left: 10px;
}

.fba-table h5{
    padding-top: 5px;
    text-transform: uppercase;
    color: #888;
}

.fba-table {
    border-left: 4px solid #5CB85C;
}

.gapfill-table {
    border-left: 4px solid #25AABB;;
}

.fba-table table td,
.fba-table table th {
    padding: 0 10px;
}

.fba-table tbody tr:hover {
    cursor: pointer;
    cursor: hand;
}

.expanded-table .fa-square-o {
    font-weight: 900;
    opacity: .5;
}

/**
 * bootstrap mods
 */
 .form-group {
     margin-left: 0 !important;
     margin-right: 0 !important;
 }

 tr .fa-folder-o,
 tr .fa-file-text-o {
     opacity: 0.5;
 }

.popover {
    z-index: 9000;
}

.navbar-fixed-top {
    border-width: 0;
}

.rxn-sidenav,
.cpd-sidenav {
    top: 50px;
    width: inherit;
    min-width: 50px;
    max-width: 600px;
    max-height: 600px;
    bottom:inherit;
    position: fixed;
}

.dl-sidenav {
    top: 50px;
    width: inherit;
    min-width: 400px;
    max-width: 800px;
    bottom:inherit;
    position: fixed;
}



/**
 *  md mods
 */
.tab-icon {
    position: relative;
    top: 4px;
    font-size: 18px;
}

md-tab-item:hover {
    color: #555;
}

md-toast.md-bottom {
    position: fixed;
}

[role="tabpanel"] {
    transition: none !important;
}
.md-autocomplete-suggestions {
    z-index: 9999;
}

md-sidenav button div {
    line-height: 15px;
    margin-bottom: 15px;
}


md-sidenav button i {
    margin-top: 10px;
}


md-backdrop {
    visbility: hidden;
    display:none;
}

.md-scroll-mask {
    background-color: rgba(0, 0, 0, .4);
}

md-input-container {
    padding-bottom: 15px;
}

/* see https://github.com/angular/material/issues/2162 */
md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: inherit;
}

.md-tab {
    text-transform: inherit;
}
.md-tabs-content .map-table {
    margin-top: 15px;
}
.md-header-items-container {
    text-transform: capitalize;
}

md-tabs-wrapper {
    border-bottom: 1px solid #444;
}

md-tabs md-tab:hover {
    color: #444;
}

md-tab.md-tab-themed {
  transition: background 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}

md-card {
    padding: 0 15px;
    margin: 0;
}

md-card h2{
    margin-top: 5px;
}
md-card {
    background-color: #fff;
}

.md-header-items-container {
    border-bottom: 1px solid #dfdfdf;
}

.md-dialog-container {
    z-index: 3000;
}

.md-tab.md-active{
    color: #333 !important;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.md-subheader {
    top: 0px !important;
}



/**
 *  my models page
 */
.my-model-tabs {
    margin: 15px 40px;
}

.small-tabs .md-tab{
    padding: 0px 7px;
}
.small-tabs md-pagination-wrapper,
.small-tabs md-tabs-canvas {
    height: 30px;
}

.pathway-tabs md-ink-bar {
    background-color: rgb(73, 4, 191);
}

.my-model {
    border: 2px solid #f1f1f1;
    margin-top: 10px;
}

.my-model button {
    min-width: 29px;
    min-height: inherit;
    margin: 0;
}
.my-model button:focus {
    outline: none; /* yeah, this sucks */
}

.my-model button i {
    margin-top: 10px;
}

.my-model .timestamp {
    text-align: right;
}

.plant-row {
    position: relative;
    margin: 15px 0 0 0;
    padding: 10px;
    border: 2px solid #fff;
}

.plant-row img {
    margin-right: 10px;
}

.plant-row .links {
    position: absolute;
    bottom: 7px;
}
.plant-row-hover:hover {
    background-color: #f8f8f8;
    border: 2px solid #B6E6FF;
}

.plant-row .actions {
    display: none;
}
.plant-row:hover .actions {
    display: block;
}

.plants-toggle md-radio-button {
    margin: 5px;
}

.expand-container {
    float: left;
    width: 40px;
    text-align: center;
}


/**
 * bootstrap mods
 */
.dropdown-menu-visible {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/**
 *
 */
.label-fba {
    color: #5cb85c;
}
.label-gapfill {
    color: #25AABB;
}
.label-media {
    color: #337AB7;
}

.label-fba-count {
    color: #5cb85c;
}
.label-gapfill-count {
    color: #25AABB;
}

td .label-gapfill {
    margin-right: 15px;
}


/**
 * data browser
 */
#data-browser {
    margin-top:60px;
}

#data-browser tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.fixed-header {
  z-index: 10;
  position: fixed;
  background-color: #fff;
  margin: -69px 14px 0 0;
}

.fixed-header h4 {
    margin-top: 17px;
    margin-bottom: 0
}


.ws-opt {
    margin: 0 0 0 15px;
    color: #666;
}

.ws-opt:hover {
    color: #222;
    cursor: pointer;
}
.ws-opt a {
    text-decoration: none;
}


.ws-opt .fa-folder-o {
    font-weight: 700;
}


.select-opts .select-name {
    margin-right: 20px;
}


.select-opts {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 79px;
    padding: 0 0 6px 0;
    border-bottom: 2px solid #ddd;
}
.select-opts span {
    margin: 0 25px 0 0;
}
.hidden-header { /* used for table header (select-opts) */
    visibility: hidden !important;
}

.fixed-header md-progress-linear { /* hack for table header */
    margin-bottom: 5px;
    visibility: hidden;
}

.browser-download {
    text-decoration: none;
    color: #333;
}

.browser-upload {
    position:relative;
}

input[name=upload] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
}

/**
 *  icon mods
 */
.icon-info {
    line-height: .9em;
}

.icon-file-download {
    position: relative;
    text-decoration: none;
    bottom: -2px;
    font-size: 1.2em;
}

.icon-tools {
    font-weight: 600;
}


/**
 *  site specific things
 */
.reconstruct-hover td{
    position: relative;
}
.reconstruct-hover:hover td:last-child:after {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 10px;
    color: #666;
    content: 'click to reconstruct';
}

.feature-item {
    margin: 0 20px 30px 20px;
}

.feature-highlight {
    font-style: italic;
    background-color: rgba(95, 171, 86, 0.15);
    padding-right: 3px;
}


/* dropdown stuff */
#more-dd-content {
    right: -30px;
}

#login-dd {
    padding-top: 4px;
    text-align: left;
}


#more-dd > a:hover,
#login-dd > div:hover{
    color: #dfdfdf;
}

#more-dd li a.main-opts {
    padding-top: 7px;
    padding-bottom: 7px;
}

#more-dd .icon-archive2 {
    color: rgb(0,188,212);
    font-weight:800;
}

#more-dd img {
    height: 20px;
    width: 20px;
    margin: 0 2px 0 -2px;
}


/**
 *  about/status page
 */
.status-table .success {
    color: #38BD5C;
}

.status-table .fail {
    color: #B51B1B;
}

.status-table div { /* margin hack */
    height: 0px;
}


/**
 *  modelseed projects / team / publications
 */
.publications li {
    margin: 0 0 30px 0;
}


.publication td{
    padding: 0px 20px 20px 0;
}

.publication .title {
    font-size: 1.2em;
    margin: 0px 40px;
}
.publication .author {
    font-size: .8em;
    margin-left: 40px;
}
.publication .source {
    margin-left: 40px;
    font-size: .8em;
    font-style: italic;
}

.publication .abstract {
    margin: 10px 40px;
}

.citation {
    margin: 10px 40px;
}
.year {

}

.project-nav {
    margin-bottom: 0px;
    font-size: 1.3em;
}

.team-member {
    margin: 8px 0;
}

.team-member img {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px;
    border: 1px solid #aaa;
    background: #f9f9f9;
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 2px #aaa;
}


/**
 *  tour overrides
 */
md-toolbar {
    z-index: 9999 !important;
}

/* this overrides the default behavior (absolute positioning),
    allowing for fixed elemented */
.introjs-fixParent:not(.md-dialog-container) {
    position: initial !important;
}

.introjs-overlay {
    z-index: 900 !important;
}

.introjs-tooltipReferenceLayer {
    z-index: 10000 !important;
}

.introjs-skipbutton {
    float: left;
}


.disable-click {
    z-index: 1000000 !important;
}

.introjs-tooltip {
    min-width: 600px;
}

/*
.introjs-fixParent  {
    z-index: 9999 !important;
}*/

/*
.introjs-helperLayer {
    z-index: 5005 !important
}
.introjs-tooltipReferenceLayer{
    z-index: 5003 !important
}
.introjs-showElement {
    z-index: 5008 !important;
}

.introjs-overlay {
    z-index: 4000 !important;
}*/
