
<div class="expression-table expanded-table">
    <div ng-if="!item.expression.length" class="text-muted">
        No expression data uploaded for <i>{{item.name}}</i>.
    </div>

    <table class="table table-condensed">
        <thead>
            <tr ng-if="item.expression.length">
                <th>Expression Name</th>
                <th>IDs</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exp in item.expression track by $index" class=""> 
                <td>{{exp.name}}</td>
                <td>
                    <small ng-repeat="id in exp.ids track by $index">
                        {{id}}{{$index != exp.ids.length-1 ? ', ' : ''}}
                    </small>
                </td>                
            
                <!--<td>
                    <a ng-click="deleteExpression($index, item)" class="no-link">
                        <md-tooltip md-delay="800">Delete expression datal</md-tooltip>
                        <i class="icon-highlight-remove"></i>
                    </a>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>
