<md-button md-no-ink class="md-primary md-raised" ng-click="gapfill($event, item)">
    <i class="fa fa-plus"></i> Gapfill Model
</md-button>


<div class="gapfill-table expanded-table">
    <!--<h5>Gapfills</h5>-->

    <!--<div ng-if="!item.relatedGappfills.length" class="text-muted">
        You have no Gappfill.
    </div>-->

    <table class="table table-condensed">
        <thead>
            <tr ng-if="item.relatedGapfills.length">
                <th>Integrated?</th>
                <th>ID</th>
                <th>Media</th>
                <th>Time</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gf in item.relatedGapfills"
                class="table-hover"
                ng-click="integrateGapfill(gf.integrated, item, gf.id)">
                <td>
                    <i class="fa {{gf.integrated ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
                </td>
                <td>
                    <a>{{::gf.id}}</a>
                </td>
                <td>{{::gf.media.toName()}}</td>
                <td>{{relativeTime(gf.timestamp)}}</td>
            </tr>
        </tbody>
    </table>
</div>
