
<div class="gapfill-table expanded-table">
    <!--<h5>Gapfills</h5>-->

    <div ng-if="!item.relatedGapfills.length" class="text-muted">
        You have no Gapfills.
    </div>

    <table class="table table-condensed">
        <thead>
            <tr ng-if="item.relatedGapfills.length">
                <th>Integrated?</th>
                <th>ID</th>
                <th>Media</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gf in item.relatedGapfills track by $index"
                class="table-hover"
                ng-click="integrateGapfill(gf.integrated, item, gf)">
                <td>
                    <img ng-if="gf.loading"
                         src="img/ajax-loader.gif"
                         width="15" height="15">
                    <i ng-if="!gf.loading"
                       class="fa {{gf.integrated ? 'fa-check-square-o' : 'fa-square-o'}}">
                    </i>
                </td>
                <td>{{::gf.id}}</td>
                <td>{{::gf.media.toName()}}</td>
                <td>{{relTime(gf.rundate)}}</td>
                <td>
                    <a ng-click="deleteGapfill($index, item, gf)" class="no-link">
                        <md-tooltip md-delay="800">Unintegrate and delete gapfill</md-tooltip>
                        <i class="icon-highlight-remove"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
