<div class="fba-table expanded-table">
    <!--<h5>FBA Results</h5>-->

    <div ng-if="!relatedFBAs.length" class="text-muted">
        No FBA simulations for <i>{{name}}</i>.
    </div>

 

    <table class="table table-condensed">
        <thead>
            <tr ng-if="relatedFBAs.length">
                <th width="80px"></th>
                <th>ID</th>
                <th>Objective</th>
                <th>Objective Function</th>
                <th>Media</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <md-radio-group ng-model='selectedFBA.id'>
      <div ng-repeat="fba in relatedFBAs | orderBy : '-timestamp'" ng-click="setFBA($event, fba, item)" class="row">
        <div flex layout='row' layout-padding layout-wrap layout-align="start center" >

          <md-radio-button flex="10"
                ng-value="fba.id"
                class="">
          </md-radio-button>
          <div flex style="max-width:100px;">
            <a ui-sref="app.fbaPage({path: fba.path})" ng-click="$event.stopPropagation()">{{::fba.id}}</a>
          </div>
          <div flex style="max-width:120px;">
            {{fba.objective === '10000000' ? 0 : fba.objective}}
          </div>
          <div flex style="max-width:120px;">
            {{fba.objective_function ? fba.objective_function : 'N/A'}}
          </div>
          <div flex style="max-width:200px;">
            <a ui-sref="app.mediaPage({path: fba.media})"
                       ng-click="$event.stopPropagation()">{{::fba.media.split('/').pop()}}</a>
          </div>
          <div flex style="max-width:150px;">
            {{relativeTime(fba.timestamp)}}
          </div>
          <div flex style="max-width:50px;">
            <a ng-click="deleteFBA($event, $index, item)" class="no-link">
                        <md-tooltip md-delay="800">Delete FBA</md-tooltip>
                        <i class="icon-highlight-remove"></i>
          </div>

        </div>
        </div>
      </div>
    </md-radio-group>

    <div class="h4"><small>Visualizing FBA data for FBA:{{selectedFBA}}</small></div>        
    
</div>
