[submodule "lib/dd-filter"]
	path = lib/dd-filter
	url = https://github.com/nconrad/dd-filter.git
[submodule "lib/kbase-rpc"]
	path = lib/kbase-rpc
	url = https://github.com/nconrad/kbase-rpc.git
[submodule "lib/ui-common"]
	path = lib/ui-common
	url = https://github.com/kbase/ui-common.git
