[submodule "lib/dd-filter"]
	path = lib/dd-filter
	url = https://github.com/nconrad/dd-filter.git
[submodule "lib/ms-rpc"]
	path = lib/ms-rpc
	url = https://github.com/nconrad/ms-rpc.git
[submodule "docs"]
	path = docs
	url = https://github.com/ModelSEED/Documentation.git
