
<div class="table-controls" layout="row">
    <md-input-container md-no-float flex="45"
        search="opts.query" search-opts="opts" search-placeholder="Search table">
    </md-input-container>

    <div ng-if="noPagination" layout="row" layout-align="end center" flex>
        {{data.length}} {{resultText}}
    </div>

    <md-input-container
        ng-if="!noPagination"
        pagination
        pagination-offset="opts.offset"
        pagination-limit="opts.limit"
        pagination-total="filtered.length"
        layout="row"
        layout-align="end center" flex>
    </md-input-container>
</div>

<table class="table table-striped" style="font-size: .8em;">
    <thead>
        <tr>
            <th sortable col-id="regulator_name" ng-click="sortBy($event, 'regulator_name')">Regulator Name</th>
            <th sortable ng-click="sortBy($event, 'bsu')">BSU Number</th>
            <th sortable ng-click="sortBy($event, 'mechanism')">Mechanism</th>
            <th sortable ng-click="sortBy($event, 'conditioned_rules')">Conditioned Rules</th>
            <th sortable ng-click="sortBy($event, 'metabolite')">Matabolite</th>
            <th sortable ng-click="sortBy($event, 'metabolite_sign')">Metabolite Sign</th>
        </tr>
    </thead>

    <tr ng-repeat="row in (filtered = ( data | filter: opts.query | orderBy : opts.sort.field : opts.sort.desc)
                    | limitTo : opts.limit : opts.offset)">
        <td>
            <a ng-if="row.regulator_name.indexOf('*') == -1" ng-click="showLinks($event, row.regulator_name)">{{row.regulator_name}} <i class="fa fa-external-link text-muted"></i></a>
            <span ng-if="row.regulator_name.indexOf('*') != -1">{{row.regulator_name}}</span>
        </td>
        <td>{{row.bsu}}</td>
        <td>{{row.mechanism}}</td>
        <td>{{row.conditioned_rules}}</td>
        <td>{{row.metabolite}}</td>
        <td>{{row.metabolite_sign}}</td>
    </tr>
</table>

<div ng-if="!loading && filtered.length == 0" class="item-not-found">
    No item found
</div>

<br>
<md-progress-circular ng-if="!data" md-mode="indeterminate">
</md-progress-circular>
