
<div class="table-controls" layout="row">
    <md-input-container md-no-float flex="45"
        search="opts.query" search-opts="opts" search-placeholder="Search table">
    </md-input-container>

    <div ng-if="noPagination" layout="row" layout-align="end center" flex>
        {{data.length}} {{resultText}}
    </div>

    <md-input-container
        ng-if="!noPagination"
        pagination
        pagination-offset="opts.offset"
        pagination-limit="opts.limit"
        pagination-total="filtered.length"
        layout="row"
        layout-align="end center" flex>
    </md-input-container>
</div>

<table class="table table-striped" style="font-size: .8em;">
    <thead sortable>
        <tr>
            <th ng-click="sortBy($event, 'annotation')">Regulator Name</th>
            <th ng-click="sortBy($event, 'bsu')">BSU Number</th>
            <th ng-click="sortBy($event, 'mechanism')">Mechanism</th>
            <th ng-click="sortBy($event, 'conditioned_rules')">Conditioned Rules</th>
            <th ng-click="sortBy($event, 'metabolite')">mapetabolite</th>
            <th ng-click="sortBy($event, 'metabolite_sign')">Metabolite Sign</th>

        </tr>
    </thead>

    <tr ng-repeat="row in (filtered = ( data | filter: opts.query | orderBy : opts.sort.field : opts.sort.desc)
                    | limitTo : opts.limit : opts.offset)">
        <td>{{row.regulator_name}}</td>
        <td>{{row.bsu}}</td>
        <td>{{row.mechanism}}</td>
        <td>{{row.conditioned_rules}}</td>
        <td>{{row.metabolite}}</td>
        <td>{{row.metabolite_sign}}</td>
    </tr>
</table>

<div ng-if="!loading && filtered.length == 0" class="alert alert-warning">
    No item found
</div>

<br>
<md-progress-circular ng-if="!data" md-mode="indeterminate">
</md-progress-circular>
