/.ruby-version
/Acceptable-Formulae.md
/Analytics.md
/Bottles.md
/Brew-Test-Bot-For-Core-Contributors.md
/Brew-Test-Bot.md
/C++-Standard-Libraries.md
/CNAME
/Checksum_Deprecation.md
/Common-Issues-for-Core-Contributors.md
/Common-Issues.md
/Custom-GCC-and-cross-compilers.md
/External-Commands.md
/FAQ.md
/Formula-Cookbook.md
/Gemfile
/Gems,-Eggs-and-Perl-Modules.md
/Homebrew-and-Python.md
/How-To-Open-a-Homebrew-Pull-Request.md
/How-to-Create-and-Maintain-a-Tap.md
/How-to-build-software-outside-Homebrew-with-Homebrew-keg-only-dependencies.md
/Installation.md
/Interesting-Taps-and-Forks.md
/Kickstarter-Supporters.md
/Maintainer-Guidelines.md
/Maintainers-Avoiding-Burnout.md
/Manpage.md
/Migrating-A-Formula-To-A-Tap.md
/New-Maintainer-Checklist.md
/Node-for-Formula-Authors.md
/Prose-Style-Guidelines.md
/Python-for-Formula-Authors.md
/Querying-Brew.md
/README.md
/Rename-A-Formula.md
/Taps.md
/Tips-N'-Tricks.md
/Troubleshooting.md
/Versions.md
/Xcode.md
/_config.yml
/robots.txt
