$icon-highlight-remove: "\e60a";
$icon-remove-circle-outline: "\e60b";
$icon-cog: "\e60c";
$icon-folder-open-o: "\e605";
$icon-folder-open-o: "\e605";
$icon-tools: "\e601";
$icon-lab: "\e608";
$icon-tools-2: "\e602";
$icon-lab2: "\e609";
$icon-earth: "\e606";
$icon-tools3: "\e604";
$icon-cross: "\ea0f";
$icon-earth: "\e606";
$icon-tools3: "\e604";
$icon-benzene: "\e607";
