
<div ng-if="data">
    <div class="table-controls" layout="row">

        <md-input-container md-no-float flex="45"
            search="opts.query" search-opts="opts" search-placeholder={{placeholder}}>
        </md-input-container>

        <md-progress-circular ng-if="loading"
                              md-mode="indeterminate"
                              class="table-loading"
                              md-diameter="20">
        </md-progress-circular>

        <div ng-if="noPagination" layout="row" layout-align="end center" flex>
            {{data.length}} {{resultText}}
        </div>

        <md-input-container
            ng-if="!noPagination"
            pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="filtered.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>

    </div>

    <table class="table table-striped"
           ng-class="{'table-small': stylingOpts.size == 'condensed', 'table-bordered': stylingOpts.border != false}"
           ng-hide="filtered && filtered.length == 0">
        <thead>
            <tr>
                <th sortable ng-repeat="h in header track by $index"
                    ng-click="sortBy($event, h.key)" >{{::h.label}}
                </th>
            </tr>
        </thead>

        <tr ng-repeat="row in (filtered = ( data | filter: opts.query | orderBy : opts.sort.field : opts.sort.desc)
                        | limitTo : opts.limit : opts.offset)">
            <td ng-repeat="h in header">
                <span ng-if="h.format" bind-html-compile="h.format(row)"></span>
                <span ng-if="!h.format">{{row[h.key]}}</span>
            </td>
        </tr>
    </table>

    <div ng-if="!loading && filtered.length == 0" class="alert alert-warning">
        No item found
    </div>
</div>
<br>
<md-progress-circular ng-if="loading"
                      md-mode="indeterminate">
</md-progress-circular>
