
<div class="table-controls"  layout="row">
    <md-input-container layout-align="start" layout="row" class="table-options" flex>
        <a ng-if="enableColumnSearch" ng-click="toggleAdvancedOptions($event)">
            <!--md-tooltip md-direction="right">click to toggle</md-tooltip-->
            <b><i class="tiny-link-icon material-icons">settings_applications</i>{{advanceSearch}}</b>
        </a>
        <a  ng-if="enableDownload" ng-click="download($event)">
            <i class="tiny-link-icon material-icons">file_download</i> download
        </a>
    </md-input-container>

    <!--md-input-container layout-align="start center" ng-if="!advancedOptsEnabled" md-no-float flex="45" disable-search="advancedOptsEnabled"-->
    <md-input-container layout-align="center" ng-if="!advancedOptsEnabled" md-no-float flex="45"
        search="opts.query" search-opts="opts" search-placeholder={{::placeholder}}>
    </md-input-container>

    <md-progress-circular ng-if="loading"
                          md-mode="indeterminate"
                          class="table-loading"
                          md-diameter="20">
    </md-progress-circular>

    <md-input-container pagination
        pagination-offset="opts.offset"
        pagination-limit="opts.limit"
        pagination-total="data.numFound"
        layout="row"
        layout-align="end center" flex>
    </md-input-container>
</div>

<table class="table table-striped"
       ng-class="{'table-small': stylingOpts.size == 'condensed', 'table-bordered': stylingOpts.border != false}">
    <thead>
        <tr>
            <th sortable="{{::h.sortable}}" ng-repeat="h in header track by $index" col-id="{{::h.key}}"
                ng-click="sortBy($event, h.key)"
                title="{{ h.key=='status' ?
'OK (OK)
MI (Mass imbalance)
CI (Charge imbalance)
CK (Manually Checked)
CPDFORMERROR (Missing structure)
EMPTY (No reagents)'
                       : h.key=='formula' ?
'Generic/undefined groups are represented by the letter \'R\',
you may search for that letter in this column
to find compounds with them.' : ''}}"
                class="check-{{ h.key }}">
                    {{::h.label}}
            </th>
        </tr>
        <tr ng-if="advancedOptsEnabled">
            <th ng-repeat="h in header track by $index">
                <input ng-if="opts.searchFields.indexOf(h.key)!=-1"
                       type="text"
                       placeholder="Search..."
                       style="width: 100%;"
                       ng-model="opts.queryColumn[h.key]"
                       ng-model-options="{debounce: {default: 400, blur: 0}}">
            </th>
        </tr>
    </thead>

    <tbody ng-if="data.numFound != 0">
        <tr ng-repeat="item in data.docs" ng-click="rowClick(item)">
            <td ng-repeat="h in header">
                <span ng-if="h.format" bind-html-compile="h.format(item)"></span>
                <span ng-if="!h.format">{{item[h.key] || item[h.key] == 0 ? item[h.key] : '-'}}</span>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="!loading && data.numFound == 0" class="item-not-found">
    No item found
</div>




<div ng-if="!loading && !data">
    <br>
    Oh no.  Something seems to have gone wrong.
</div>
