
<div ng-if="data">
    <div class="table-controls table-editor-controls" layout="row">
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="{{placeholder}}" class="query-input">
        </md-input-container>

        <md-button ng-if="checkedItems.length"
                ng-click="addItems(checkedItems)"
                class="md-primary">
            <i class="fa fa-plus"></i> Add ({{checkedItems.length}})
        </md-button>

        <md-progress-circular ng-if="loading"
                              md-mode="indeterminate"
                              class="table-loading"
                              md-diameter="20">
        </md-progress-circular>

        <md-input-container pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="data.numFound"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>
    </div>



    <table class="table table-striped table-bordered table-hover table-editor" ng-if="data.docs.length">
        <thead>
            <tr>
                <th></th>
                <th sortable ng-repeat="h in header track by $index"
                    ng-click="sortBy($event, h.key)">{{h.label}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in data.docs">
                <td>
                    <md-checkbox aria-label="Check media" ng-checked="row.checked" ng-click="checkItem(row)"></md-checkbox>
                </td>
                <td ng-repeat="h in header">
                    {{row[h.key]}}
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="!loading && data.numFound == 0" class="alert alert-warning">
        No item found
    </div>

</div>
<br>
