
<div ng-if="data">
    <div class="table-controls" layout="row">
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="{{placeholder}}" class="query-input">
        </md-input-container>

        <button ng-if="checkedItems.length"
                ng-click="addItems(checkedItems)"
                class="btn btn-primary btn-sm btn-add">
            <i class="fa fa-plus"></i> Add ({{checkedItems.length}})
        </button>

        <md-progress-circular ng-if="loading"
                              md-mode="indeterminate"
                              class="table-loading"
                              md-diameter="20">
        </md-progress-circular>


        <md-input-container pagination layout="row" layout-align="end center" flex>
            <span hide-sm>{{opts.offset+1}}-{{opts.offset + opts.limit}} of {{data.numFound}} results</span>
            <div ng-disabled="opts.offset == 0" class="btn btn-default btn-sm" ng-click="prev()">
                <i class="fa fa-chevron-left"></i> prev
            </div>
            <div class="btn btn-default btn-sm" ng-click="next()">next
                <i class="fa fa-chevron-right"></i>
            </div>
        </md-input-container>
    </div>


    <table class="table table-striped table-bordered">
        <thead sortable ng-if="filtered.length != 0">
            <tr>
                <th></th>
                <th ng-repeat="h in header track by $index" ng-click="sortBy($event, h.key)">{{h.label}}</th>
            </tr>
        </thead>

        <tr ng-repeat="item in (filtered = ( data.docs | filter: opts.query |  orderBy : opts.sort.field : opts.sort.desc) )
                        | limitTo : opts.limit : (opts.query ? 0 : opts.offset)">
            <td ng-click="checkItem(item)">
                <i ng-if="item.checked" class="fa fa-check-square-o"></i>
                <i ng-if="!item.checked" class="fa fa-square-o"></i>
            </td>
            <td ng-repeat="h in header">{{item[h.key]}}</td>
        </tr>
    </table>
    <div ng-if="!loading && filtered.length == 0">
        {{notFoundText}}
    </div>
</div>
<br>
