div.container {
    overflow: scroll;
    width: 100%;
    height: 100%;
    max-width: 120em;
    max-height: 100em;
    position: relative;
}
table {
    /*table-layout: auto;*/
    width: 100%;
    position: relative;
}
td, th {
    border: 1px solid #000;
    width: 100%;
    padding: 0.25em;
}
th {color: white; background-color: rgba(9, 173, 202, 0.767);}
thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}
thead th:first-child {
    left: 0;
    z-index: 3;
}
tbody td:first-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    z-index: 1;
    font-weight: bold;
    background-color: rgba(9, 173, 202, 0.767);
}
.firstrow {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 55px;
    z-index: 2;
    color: black;
    background-color: rgba(247, 243, 16, 0.767);
}
