
<div ng-if="data">
    <div class="table-controls">
        <div class="table-controls"  layout="row">
            <md-input-container md-no-float flex="45"
                search="opts.query" search-opts="opts" search-placeholder={{placeholder}}>
            </md-input-container>

            <button ng-if="checkedItems.length"
                    ng-click="addItems(checkedItems)"
                    class="btn btn-primary btn-sm btn-add">
                <i class="fa fa-plus"></i> Add ({{checkedItems.length}})
            </button>

            <md-progress-circular ng-if="loading"
                                  md-mode="indeterminate"
                                  class="table-loading"
                                  md-diameter="20">
            </md-progress-circular>

            <div ng-if="noPagination" layout="row" layout-align="end center" flex>
                {{data.length}} {{resultText}}
            </div>

            <md-input-container
                ng-if="!noPagination"
                pagination
                pagination-offset="opts.offset"
                pagination-limit="opts.limit"
                pagination-total="filtered.length"
                layout="row"
                layout-align="end center" flex>
            </md-input-container>
        </div>
    </div>


    <table class="table table-striped table-bordered">
        <thead sortable>
            <tr>
                <th></th>
                <th ng-repeat="h in header track by $index" ng-click="sortBy($event, h.key)">{{h.label}}</th>
            </tr>
        </thead>

        <tr ng-repeat="item in (filtered = ( data | filter: opts.query |  orderBy : opts.sort.field : opts.sort.desc) )
                        | limitTo : opts.limit : (opts.query ? 0 : opts.offset)">
            <td ng-click="checkItem(item)">
                <i ng-if="item.checked" class="fa fa-check-square-o"></i>
                <i ng-if="!item.checked" class="fa fa-square-o"></i>
            </td>
            <td ng-repeat="h in header">{{item[h.key]}}</td>
        </tr>

        <div ng-if="!loading && filtered.length == 0">
            No reaction found
        </div>
    </table>
</div>
<br>
<md-progress-circular ng-if="loading"
                      md-mode="indeterminate"
                      class="pull-left"
                      md-diameter="40">
</md-progress-circular>
