
<div ng-if="data">
    <div class="table-controls table-selector-controls" layout="row">

        <md-input-container md-no-float flex="45"
            search="opts.query" search-opts="opts" search-placeholder={{placeholder}}>
        </md-input-container>


        <md-button ng-if="checkedItems.length" layout-align="center center"
                ng-click="submit(checkedItems)"
                class="{{submitBtnClass}}">
            <i ng-if="submitBtnType == 'add'" class="fa fa-plus"></i>
            <i ng-if="submitBtnType == 'remove'" class="fa fa-minus"></i>
            {{submitInProgress ? submitProgressText : submitBtnTemplate.replace('$count', checkedItems.length) }}
        </md-button>

        <md-button ng-if="onDefault && !checkedItems.length"
                ng-click="defaultBtn()"
                class="{{defaultBtnClass}}">
            <i ng-if="defaultBtnType == 'add'" class="fa fa-plus"></i>
            <i ng-if="defaultBtnType == 'remove'" class="fa fa-minus"></i>
            {{defaultInProgress ? defaultProgressText : defaultBtnTemplate}}
        </md-button>



        <md-progress-circular ng-if="loading"
                              md-mode="indeterminate"
                              class="table-loading"
                              md-diameter="20">
        </md-progress-circular>

        <div ng-if="noPagination" layout="row" layout-align="end center" flex>
            {{data.length}} {{resultText}}
        </div>

        <md-input-container
            ng-if="!noPagination"
            pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="filtered.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>

    </div>


    <table class="table table-striped table-bordered table-selector" ng-show="filtered.length">
        <thead>
            <tr>
                <th></th>
                <th sortable ng-repeat="h in header track by $index" ng-click="sortBy($event, h.key)">{{h.label}}</th>
            </tr>
        </thead>

        <tr ng-repeat="row in (filtered = ( data | filter: opts.query |  orderBy : opts.sort.field : opts.sort.desc) )
                        | limitTo : opts.limit : (opts.query ? 0 : opts.offset)">
            <td>
                <md-checkbox aria-label="Check media" ng-checked="row.checked"
                             ng-click="checkItem(row)" ng-class="{'md-warn': submitBtnType == 'remove'}"></md-checkbox>
            </td>
            <td ng-repeat="h in header">
                <span ng-if="h.hasOwnProperty('formatter')" ng-bind-html="h.formatter(row)"></span>

                <a ng-if="h.hasOwnProperty('link')" ui-sref="{{h.link.state}}( h.link.getOpts(row) )" ng-click="$event.stopPropagation();">
                    {{row[h.key]}}
                </a>

                <span ng-if="!h.hasOwnProperty('formatter') && !h.hasOwnProperty('link')">
                    <a ng-if="h.hasOwnProperty('click')" ng-click="h.click(row)">{{row[h.key]}}</a>
                    <span ng-if="!h.hasOwnProperty('click')">{{row[h.key]}}</span>
                </span>
            </td>
        </tr>

    </table>

    <div ng-if="!loading && filtered.length == 0" class="item-not-found">
        No item found
    </div>
</div>
<br>
<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
