/analytics.png
/brew-test-bot-failed-jenkins.png
/brew-test-bot-failed-pr.png
/brew-test-bot-failed-test.png
/brew-test-bot-passed-jenkins.png
/brew-test-bot-passed-pr.png
/brew-test-bot-triggered-pr.png
