

<div ui-view layout="column">

    <div class="container">
        <br>
        <h3>ModelSEED Related Events</h3>
        <hr class="no-margin">
        <br>
        
        <h4>Latest:</h4>

        <div layout-margin layout-padding> 

            <h4>
                <a ui-sref="main.events.plantseed2018">
                    PlantSEED 2018 - The 2018 PlantSEED Metabolic Modeling Workshop
                </a>
                <div class="text-muted"><small>August 16th - 17th, 2018</small></div>

        </div>        

        <div layout-margin layout-padding> 

            <h4>
                <a ui-sref="main.events.plantseed2017">
                    PlantSEED 2017 - The 2017 PlantSEED Metabolic Modeling Workshop
                </a>
                <div class="text-muted"><small>August 17th - 18th, 2017</small></div>
            </h4>

        </div>        

        <div layout-margin layout-padding> 

            <h4>
                <a ui-sref="main.events.plantseed2016">
                    PlantSEED 2016 - The 2016 PlantSEED Metabolic Modeling Workshop
                </a>
                <div class="text-muted"><small>August 4th - 5th, 2016</small></div>
            </h4>

        </div>        

        <a ng-init="expand = false" ng-click="expand = !expand">
            {{expand ? 'Hide' : 'View'}} past events 
            <i class="fa" ng-class="{'caret': !expand, 'fa-caret-up': expand}"></i>
        </a>

        <div ng-if="expand" layout-margin layout-padding>
            
            <br>
            <h4>
                <a ui-sref="main.events.plantseed2015">
                    PlantSEED 2015 - The 2015 PlantSEED Metabolic Modeling Workshop
                </a>
                <div class="text-muted"><small>August 13th - 14th, 2015</small></div>
<!--
                <a href="http://press3.mcs.anl.gov/plantseed2015/participation/" target="_blank">
                    PlantSEED 2015
                </a>
                <div class="text-muted"><small>August 13th – 14th, 2015</small></div>
-->
            </h4>
        </div>

    </div>
</div>



