<h5>
	<i class="icon-folder-open-o"></i>
	<span>
		<a ui-sref="app.myModels()"> >My Models</a>
		<a ui-sref="app.modelPage({path: modelPath})">   >{{modelName}}</a>
	</span>
</h4>

<div class="h2">{{name}} <small>(for {{modelName}})</small></div>
<hr class="no-margin">


<md-tabs md-selected="Tabs.selectedIndex" md-no-ink md-dynamic-height class="md-no-transition">
	<md-tab>
		<md-tab-label>Reaction Fluxes</md-tab-label>
		<md-tab-body>
			<ng-table-two table-header="rxnFluxesHeader"
						table-data="rxnFluxes"
						table-opts="rxnFluxesOpts"
						table-loading="loading"
						table-placeholder="Search reaction fluxes">
			</ng-table-two>
		</md-tab-body>
	</md-tab>

	<md-tab>
		<md-tab-label>Exchange Fluxes</md-tab-label>
		<md-tab-body>
			<ng-table-two table-header="exchangeFluxHeader"
						table-data="exchangeFluxes"
						table-opts="exchangeFluxOpts"
						table-loading="loading"
						table-placeholder="Search exchange fluxes">
			</ng-table-two>
		</md-tab-body>
	</md-tab>

	<md-tab>
		<md-tab-label>Pathways</md-tab-label>
		<md-tab-body>
			<ng-table-two table-header="mapHeader"
					table-data="maps"
					table-opts="mapOpts"
					table-loading="loadingMaps"
					table-placeholder="Search maps">
			</ng-table-two>
		<md-tab-body>
	</md-tab>

	<md-tab ng-repeat="tab in Tabs.tabs">
		<md-tab-label>{{tab.name.length > 14 ? tab.name.slice(0, 15)+'...' : tab.name}}
			<span ng-if="tab.removable" ng-click="Tabs.removeTab(tab)" class="fa fa-remove hover"></span>
		</md-tab-label>
		<md-tab-body>
			<div pathway="tab.mapID" models="models" fbas="fbas"></div>
		</md-tab-body>
	</md-tab>
</md-tabs>

</md-tabs>

<section ng-controller="SideNav">

    <md-sidenav class="rxn-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="rxnView" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
        <md-toolbar class="md-light-theme">
            <h1 class="md-toolbar-tools">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center center">
			<ng-include src="'app/views/lists/rxn-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

	<md-sidenav  class="cpd-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="cpdView">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center left">
			<ng-include src="'app/views/lists/cpd-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

</section>
