
<div class="h2">Genome Feature
    <small>{{featureID}}</small>
</div>
<hr class="no-margin">

<!--<div compare-regions></div>-->
<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>

<div ng-if="!loading">
    <h4>Function</h4>
    <div class="feature-item">
        <ul ng-if="roles.length" class="list-unstyled">
            <li ng-repeat="role in roles">
                {{role}}
            </li>
        </ul>

        <div ng-if="!roles.length">
            No function present
        </div>
    </div>


    <h4>Subsystems</h4>
    <div class="feature-item">
        <ul ng-if="subsystems.length" class="list-unstyled">
            <li ng-repeat="sub in subsystems">
                {{sub}}
            </li>
        </ul>

        <div ng-if="!subsystems.length">
            No subsystem(s) present
        </div>
    </div>

    <h4>Aliases</h4>
    <div class="feature-item">
        <table class="table table-condensed">
            <thead></thead>
            <tbody>
                <tr ng-repeat="item in aliases">
                    <td><b>{{item.label}}</b></td>
                    <td ng-if="item.url">
                        <a href="{{item.url}}" target="_blank">{{item.alias}}</a>
                    </td>
                    <td ng-if="!item.url">{{item.alias}}</div>
                </tr>
            </tbody>
        </table>
        <div ng-if="!aliases.length">
            No aliases(s) present
        </div>
    </div>


    <h4>Protein Sequence</h4>
    <pre class="feature-item">{{proteinSequence ? proteinSequence : 'No protein sequence'}}</pre>


    <md-tabs md-selected="tabs.tabIndex" md-no-ink md-dynamic-height>
        <md-tab label="Plant Similarities">
            <ng-table-two table-header="plantSimSpec"
                      table-data="plantSims"
                      table-opts="plantSimOpts"
                      table-loading="loading"
                      table-placeholder="Search plant similarities">
            </ng-table-two>
        </md-tab>

        <md-tab label="Prokaryotic Similarities">
            <ng-table-two table-header="prokaryoticSimSpec"
                      table-data="prokaryoticSims"
                      table-opts="prokaryoticSimOpts"
                      table-loading="loading"
                      table-placeholder="Search prokaryotic similarities">
            </ng-table-two>
        </md-tab>
    </md-tabs>
</div>




<div ng-if="error" class="alert alert-danger">{{error}}</div>
