	<br>	
<div layout="row">


	<div ng-if="!isMine" class="h4">
		<a ui-sref="app.media({tab: 'public'})">Public Media</a> / {{name}}
	</div>

	<div ng-if="isMine" class="h4">
		<a ui-sref="app.media({tab: 'mine'})">My Media</a> / {{name}} 
		<small class="text-muted">{{editInProgress ? '(Editing)' : ''}}</small>
	</div>

	<md-input-container ng-if="canCopy" layout-align="end end" flex style="padding-bottom: 2px;">
		<md-button class="md-raised md-secondary" ng-click="copyMedia()">
			<span ng-if="!copyInProgress">Copy to edit</span>
			<span ng-if="copyInProgress">Copying...</span>
			<md-tooltip md-delay="500">
				Copy to <i>My Media</i> to edit
			</md-tooltip>
		</md-button>
	</md-input-container>
	
</div>

<hr class="no-margin">


<md-tabs ng-if="name != 'Complete'" md-no-ink md-dynamic-height>
	<md-tab>
		<md-tab-label>Media Compounds</md-tab-label>

		<md-tab-body>
			<md-button ng-if="!canCopy && !editInProgress"
					   class="pull-right md-secondary"
					   ng-click="toggleEdit()">Edit
			</md-button>
		
			<ng-table-two ng-if="!editInProgress"
						  table-header="mediaHeader"
						  table-data="media"
						  table-opts="mediaOpts"
						  table-loading="loading"
                          disable-pagination
						  table-result-text="compounds"
						  table-placeholder="Search compounds">
			</ng-table-two>

			<ng-table-editor ng-if="editInProgress"
						  table-header="mediaHeader"
						  table-data="editableData"
						  table-opts="mediaOpts"
						  table-loading="loading"
                          disable-pagination
						  table-result-text="compounds"
						  table-placeholder="Search compounds"
						  delete-btn-template="Delete $count compound"
						  add-btn-template="Add compounds"
						  on-save="save"
						  on-save-as="saveAs"
						  on-add="addCpds"
						  save-text="Saving..."
						  on-cancel="toggleEdit()">
			</ng-table-editor>
		</md-tab-body>
	</md-tab>
</md-tabs>

<br>

<p ng-if="name == 'Complete'">
	Modeling growth in complete media means that the model is allowed to consume any nutrient
	for which a transport reaction is available to the model. For this reason, the content of
	complete media can change depending on which transport reactions are present in the model.
</p>

<section ng-controller="SideNav">
    <md-sidenav class="rxn-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="rxnView" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
        <md-toolbar class="md-light-theme">
            <h1 class="md-toolbar-tools">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center center">
			<ng-include src="'app/views/lists/rxn-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

	<md-sidenav  class="cpd-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="cpdView">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center left">
			<ng-include src="'app/views/lists/cpd-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

</section>
