
<div layout="row">
    <div class="h2">Model <small>{{name}}</small></div>
</div>
<br>
<hr class="no-margin">

<div layout="column">
    <div ng-if="! isRef" flex="30" class="vertical-center" layout="row" layout-align="start">
        <div ng-if="isPlant">
            <md-button class="md-primary md-raised md-button" ng-click="reconstructPipeline($event, item)">Rebuild Model</md-button>
            <!--md-button class="md-primary md-raised md-button" ng-click="reconstructPipelineAnnotate($event, item)">
                ReAnnotate & Rebuild Model</md-button-->
            <md-button class="md-primary md-raised md-button" ng-click="annotatePlant($event, item)">Blast Genome</md-button>
            <md-button class="md-primary md-raised md-button" ng-click="uploadExpression($event, item)" >Add Expression</md-button>
        </div>
        <md-button class="md-primary md-raised md-button" ng-click="runPlantFBA($event, item)">Run FBA</md-button>
        <md-button class="md-primary md-raised md-button" ng-click="gapfill($event, item)">Run GapFilling</md-button>

            <md-tooltip>View download options</md-tooltip>
            <i class="icon-file-download"></i>
        </md-button>
    </div>
</div>
<md-divider></md-divider>


<div layout="row">

	<div flex>
	    <br>
		<div class="h4"><small>Visualize Data:</small></div>
		
		<div flex="60" class="vertical-center" layout="row" layout-align="start">
		    
		      <div flex="50" class="vertical-center" layout="row" layout-align="start">
		        <select flex="30" ng-model="selectedService" ng-click="getRelatedData( item )">
                  <option value="">---Please select---</option>
		          <option value='FBA'>FBA</option>
		          <option value='Expression'>Expression</option>
		          <option value='GapFill'>GapFill</option>
		        </select>
		      </div>
		</div>

        <br>

	    <div>
		    <span ng-if="selectedService=='FBA'">
		        <ng-include src="'app/views/lists/model-fbas.html'" >    
		    </span>
		
		    <span ng-if="selectedService=='Expression'">
		        <ng-include src="'app/views/lists/expanded-expression.html'" >    
		    </span>

		    <span ng-if="selectedService=='GapFill'">
		        <ng-include src="'app/views/lists/model-gapfills.html'" >
		    </span>
	    </div>
	</div>

	<div layout-align="end">
	    <div flex layout="column">
	      	<div layout-align="end">
	        <img flex="1" ng-if="image" width="150" height="150" src="{{image}}" style="float: right;">
	        </div>
	
	        <span ng-if="organism" style="float: right; text-align: right;"><i>{{organism}}</i></span>
	    
	            <div ng-if="links" class="links" style="float: right; text-align: right;" hide-sm>
	            Links:
	            <div ng-repeat="link in links track by $index" class="inline">
	                <a href="{{link.url}}" target="_blank">{{link.name}}</a>
	                    {{$index != links.length-1 ? '|' : ''}}
	            </div>
	            </div>
	    </div>    
	</div>   

</div>

<div ng-if="! selectedFBA.id">
    <ng-include src="'app/views/data/model-generic.html'" >
</div>

<section ng-controller="SideNav">

    <md-sidenav class="rxn-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="rxnView" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
        <md-toolbar class="md-light-theme">
            <h1 class="md-toolbar-tools md-primary">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center center">
            <ng-include src="'app/views/lists/rxn-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

    <md-sidenav  class="cpd-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="cpdView">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools md-primary">{{selected.id}}</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center left">
            <ng-include src="'app/views/lists/cpd-page.html'"></ng-include>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>


    <md-sidenav  class="dl-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="downloadOpts">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Download</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center left">
            <md-progress-circular ng-if="loadingDownloads"
                                  md-mode="indeterminate"
                                  md-diameter="30">
            </md-progress-circular>

            <table ng-if="!loadingDownloads" class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i> <a href="{{selected.downloads.sbml.url}}">{{selected.downloads.sbml.name}}</a>
                        </td>
                        <td>
                            <img src="img/sbml-logo-32.png" height="18">
                        </td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.sbml.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i>  <a href="{{selected.downloads.json.url}}">{{selected.downloads.json.name}}</a>
                        </td>
                        <td>JSON</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.json.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i>  <a href="{{selected.downloads.rxnTable.url}}">{{selected.downloads.rxnTable.name}}</a>
                        </td>
                        <td>Tab-separated</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.rxnTable.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i> <a href="{{selected.downloads.cpdTable.url}}">{{selected.downloads.cpdTable.name}}</a>
                        </td>
                        <td>Tab-separated</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.cpdTable.size )}}</small>
                        </td>
                    </tr>
                </tbody>
            </table>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>

</section>

