


<div class="content-header" flex>
    <h1>Build Model</h1><br>
</div>    

<div class="container">                        
      <br><br><br>
     
  <!-- --------------------------------------------------------- FAST A ----------------------------------------------------------- -->   
  <md-tabs md-selected="tabs.tabIndex" md-no-ink md-dynamic-height>
  <md-tab>
    <md-tab-label>
      UPLOAD FASTA
    </md-tab-label>

    <md-tab-body>       

      <div layout="column">     
        <br><br>
                
       <form name="upload_form" id="upload-form" class="upload-form form-horizontal">        
            <div class="form-group">
                <br>		
                <label class="control-label"> <i>Select FAST-A file: </i> </label>
                <label class="md-button md-primary md-raised">
                    Choose File...
                    <input
                        name="upload"
                        enctype="multipart/form-data"
                        type="file"
                        onchange="angular.element(this).scope().selectFile(this.files)"/>
                </label>
                {{selectedFiles[0].name}}
            </div>
        <br>
        
        <div ng-if="selectedFiles[0].name.length>0" flex="30" class="vertical-center" layout="column" layout-align="start">          
          
          <br><br>
          
        
        <h3>Options</h3>

        <br><br>    
    
          <div flex="25" layout="column" style="border-style: dotted; border-width: 0.0001px">                                                        

          <label style="margin: 10px">
              Kingdom:
		      <select flex ng-model="selectedKingdom"
		          ng-options="optionKingdom.value for optionKingdom in kingdomOptions"
		          ng-change="setKingdom()">
		          <option value="">Plants</option>
		      </select>
		  </label>
		 		  
          <div ng-if="!isPlant" ng-controller="MediaDropdown as ctrl">
            <div layout="row" layout-align="end end">
                <md-progress-circular ng-if="!myMedia || !media"
                                      md-mode="indeterminate"
                                      md-diameter="10">
                </md-progress-circular>
                <a ng-click="filterPublic = !filterPublic">
                    <span ng-if="filterPublic">Search my media
                        <span ng-if="myMedia">(<span class="label-media">{{myMedia.length}}</span>)</span>
                    </span>
                    <span ng-if="!filterPublic">Search public media</span>
                </a>
            </div>

            <form ng-if="filterPublic" ng-model="ctrl.form.media" ng-submit="$event.preventDefault()" >
              <md-autocomplete
                  ng-if="filterPublic"
                  ng-disabled="ctrl.isDisabled"
                  md-selected-item="ctrl.selectedItem"
                  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                  md-search-text="ctrl.searchText"
                  md-selected-item-change="ctrl.selectedItemChange(item)"
                  md-items="item in ctrl.querySearch(ctrl.searchText)"
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Search for public media formulation (optional)...">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No matches found for "{{ctrl.searchText}}".
                </md-not-found>
              </md-autocomplete>
            </form>

            <form ng-if="!filterPublic" ng-model="ctrl.form.media" ng-submit="$event.preventDefault()" >
              <md-autocomplete
                  ng-disabled="ctrl.isDisabled"
                  md-selected-item="ctrl.selectedItem"
                  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                  md-search-text="ctrl.searchText"
                  md-selected-item-change="ctrl.selectedItemChange(item)"
                  md-items="item in ctrl.querySearch(ctrl.searchText)"
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Search my media (optional)...">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No matches found for "{{ctrl.searchText}}".
                </md-not-found>
              </md-autocomplete>
            </form>
          </div>
		  
		  
          <label style="margin: 10px">
              Sequence Type:
		      <select flex ng-model="selectedSeqType"
		          ng-options="optionSeqType.value for optionSeqType in seqTypeOptions">
		          <option value="">DNA</option>
		      </select>
		  </label>
		  		            
          <label style="margin: 10px">
              Genome Type:
		      <select flex ng-model="selectedTaxa"
		          ng-options="optionTaxa.value for optionTaxa in taxaOptions">
		          <option value="">Contigs</option>
		      </select>
		  </label>
		     <!-- Next line causes the SHOCK Upload service to error (does not like DOM names)! -->
             <!-- <span ng-if="upload_form.taxa_select.$error.required">Please select a value</span> -->
          
          <label style="margin: 10px">
           Select Template Model:    
            <select 
                ng-model="selectedTemplate" 
                ng-options="option.value for option in options">
            </select>
          </label> 
                            
          </div>
          
          <br><br><br>   
             
          <div flex="35" layout="row">                                              
              <input flex="35" ng-model="modelName" class="form-control" placeholder="Name Model to build -- Required" required autofocus></input>
          </div>
                                          
          <br>
          
          <div flex="10" layout="row">                                 
          <md-button class="md-primary md-raised"
            ng-click="startUpload(  )"
            ng-disabled="!selectedFiles">
               Build Model
            <br>
          </md-button>
          </div>
                           
          </form>
          
        </div>                     
       
      </div>
             
  </md-tab-body>
  </md-tab>

  <!-- --------------------------------------------------------- PATRIC -------------------------------------------------------------- -->

  <md-tab>
  
  <md-tab-label>
      PATRIC
  </md-tab-label>
  
  <md-tab-body>
  <br><br>

  <div>

    <div class="table-controls" layout="row" >
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="Search models">
        </md-input-container>
        
        <md-input-container pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="filtered.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>
        
    </div>


    <div ng-repeat-start="item in (filtered = ( genomes | filter: opts.query) | limitTo : opts.limit : opts.offset)"
         class="row-hover my-model">

        <model-item layout="row">

            <div flex="50" class="vertical-center">
                    {{item.genome_name}}
                <br>
            </div>
                        
               <a ng-if="!copyInProgress" ng-click="reconstruct($event, item)">            
                Build Model
               </a>
               
               <span ng-if="copyInProgress">
               Copying...
               </span>
                      
        </model-item>                        
    </div>                  
    <div ng-repeat-end ng-if="item.relatedFBAs || item.relatedGapfills" class="small-tabs my-model-tabs"></div>
    
  </div>
    
  <br><br>  
  </md-tab-body>
    
  </md-tab>

  <!-- --------------------------------------------------------- RAST -------------------------------------------------------------- -->

  <md-tab>
  <md-tab-label>
      RAST
  </md-tab-label>
  
  <md-tab-body>
  <br><br>

  <div>

    <div class="table-controls" layout="row" >
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="Search models">
        </md-input-container>
        
        <md-input-container pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="results.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>
        
    </div>

    <div ng-repeat-start="item in (results = ( rastMicrobes | filter: opts.query) | limitTo : opts.limit : opts.offset)"
         class="row-hover my-model">

        <model-item layout="row">

            <div flex="50" class="vertical-center">
                    {{item.genome_id}}
                <br>
            </div>
              <a ng-if="!copyInProgress" ng-click="reconstructPrivate($event, item)">            
                Build Model
                </a>
                <span ng-if="copyInProgress">
               Copying...
                </span>
        </model-item>                        
    </div>
    <div ng-repeat-end ng-if="item.relatedFBAs || item.relatedGapfills" class="small-tabs my-model-tabs"></div>
    
  </div>
    
  <br><br>  
  </md-tab-body>    
  </md-tab>
  <!-- ----------------------------------------------------------------------------------------------------------------------------- -->

</md-tabs>
    

<div ng-if="error" class="alert alert-danger">{{error}}</div>

</div>


