
<h4>
    <i class="icon-folder-open-o"></i>
    <span>
        <a ui-sref="app.plantPage()">Build Model</a>
        <!--
        / {{name}}
        -->
    </span>
    
    <hr class="no-margin">
    
    <span><i>Select Genomes to build a model for</i></span> 
    
    
</h4>

<br class="no-margin">
<br class="no-margin">
<br class="no-margin">
<br class="no-margin">


<!-- TODO Build New Model -->


<div>

<form ng-submit="submit()" ng-controller="BuildPlant">

    <div>
        <input type="text" ng-model="name" required/>
    </div>
    
    
    
    
    <div>
        <button type="submit" >Build Model</button>
    </div>
    
</form>

</div>


<div ng-if="error" class="alert alert-danger">{{error}}</div>
