mega-dropdown {
    /*position: relative;*/
}

mega-dropdown-content {
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 0px;
    color: #000;
    z-index: 9999;
    background: #fafafa;
    border: solid #ddd;
    border-width: 0 2px 2px 2px;
    max-width: 330px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    opacity:0;
    transition:  opacity 0.3s linear 0s;
}


[mega-dropdown]:hover mega-dropdown-content {
    visibility: visible;
    opacity:1;
}
