
<md-dialog flex="70">

    <md-toolbar>
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>Annotate Plant
            <i class="color-light-purple small">{{item.name}}</i>
        </h3>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <form>
        <md-dialog-content>
            <p class="text-muted">Annotation subtext<p>

            <h3>Options</h3>

            <md-checkbox md-no-ink ng-model="form.kmers" aria-label="user kmers">
                Kmers?
            </md-checkbox>

            <md-checkbox md-no-ink ng-model="form.blast" aria-label="user kmers">
                Blast?
            </md-checkbox>


            <!--<md-input-container md-no-float>
                <input ng-model="form.name" placeholder="Model/Genome Name (optional)">
            </md-input-container>--> 

        </md-dialog-content>

        <div class="md-actions">
            <md-button ng-click="annotate()" type="button">
                Annotate
            </md-button>
        </div>
    </form>
</md-dialog>
