
<md-dialog>

    <md-content class="fba-table">
        <h4>FBA Results for <i>{{item.model.name}}</i></h4>

        <table class="table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Media</th>
                    <th>ID</th>
                    <th>Objective</th>
                    <th>Rxn Vars</th>
                    <th>Cpd Vars</th>
                    <th>Biomass Function</th>
                </tr>
            </thead>

            <tr ng-repeat="fba in fbas track by $index"
                ng-click="selectFBA($index, fba, item);"
                ng-class="{active: activeFBAIndex == $index}"
                >
                <td>
                    <i class="fa {{activeFBAIndex == $index ? 'fa-circle': 'fa-circle-o'}}"></i>
                </td>
                <td>{{fba.media}}</td>
                <td>{{fba.name}}</td>
                <td>{{fba.objective}}</td>
                <td>{{fba.rxnCount}}</td>
                <td>{{fba.cpdCount}}</td>
                <td>{{fba.biomass}}</td>
            </tr>
        </table>

    </md-content>

    <div class="md-actions">
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </div>
</md-dialog>