
<md-dialog flex="70">
    <md-toolbar>
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>Gapfill</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <form>
        <md-dialog-content>

            <p class="text-muted">Note: Complete media is used by default.</p>

            <div layout layout-sm="column">
                <md-input-container flex="50">
                    <label>Comprehensive gapfilling priority</label>
                    <input type="number" step="any" ng-model="form.alpha" ng-init="form.alpha = 0">
                </md-input-container>
            </div>

        </md-dialog-content>


        <div class="md-actions" layout="row">
            <md-button ng-click="gapfill()">
                Gapfill
            </md-button>
        </div>
    </form>
</md-dialog>
