
<md-dialog flex="50">

    <md-content>
		<h3>Reconstruct Model</h3>
        {{folder}} {{selected.name}}

		<div ng-if="selected.genome">
            <b>Organism</b>: {{selected.genome_name}}
        </div>

        <div ng-if="selected.genome_id">
		    <b>ID</b>: {{selected.genome_id}}
        </div>

        <ng-include src="'app/views/apps/reconstruct.html'"></ng-include>
    </md-content>

    <div class="md-actions">
        <md-button ng-click="reconstruct()">
            Reconstruct
        </md-button>
    </div>
</md-dialog>
