
<md-dialog flex="70">
    <md-toolbar>
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>Save {{type}} As</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <form>
        <md-dialog-content>
            <md-input-container flex="50">
                <label>Media name</label>
                <input type="text" ng-model="form.name">
            </md-input-container>

        </md-dialog-content>


        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()">
                cancel
            </md-button>
            <md-button md-autofocus ng-click="save(form.name)" class="md-raised md-primary" ng-disabled="!form.name">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>
