
<md-dialog flex="65">

    <md-toolbar>
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>Overview</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content layout-margin layout-padding>
        <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>

        <div ng-if="!loading">
            <table class="table table-horizontal">
                <thead></thead>
                <tbody>
                    <tr><td>Name</td><td>{{meta[0]}}</td></tr>
                    <tr><td>Type</td><td>{{meta[1]}}</td></tr>
                    <tr><td>Path</td><td>{{meta[2] + meta[0]}}</td></tr>
                    <tr><td>Created</td><td>{{meta[3]}}</td></tr>
                    <tr><td>Created by</td><td>{{meta[5]}}</td></tr>
                    <tr><td>UUID (ID)</td><td>{{meta[4]}}</td></tr>
                    <tr><td>Global Permission</td><td>{{meta[9]}}</td></tr>
                    <tr><td>Your Permission</td><td>{{meta[10]}}</td></tr>
                </tbody>
            </table>

            <br>

            <span class="editable-header">User Meta </span>

            <span ng-if="!savingMeta">
                <span ng-if="!editMeta">
                    <a ng-click="editUserMeta()" class="no-href">edit</a>
                </span>
                <span ng-if="editMeta">
                    <a ng-click="editUserMeta()" class="no-link">Cancel</a> &middot;
                    <a ng-if="validJSON" ng-click="saveMeta(edit.userMeta)" class="no-href">Save</a>
                    <span ng-if="!validJSON" class="pull-right color-error">Not valid JSON</span>
                </span>
            </span>
            <span ng-if="savingMeta">Saving...</span>

            <div ng-if="!editMeta">
                <pre>{{userMeta ? userMeta : 'No user metadata found'}}</pre>
            </div>
            <div ng-if="editMeta">
                <textarea type="text"
                          rows="{{userMeta.split('\n').length}}"
                          ng-model="edit.userMeta"
                          class="form-control editable-textarea"
                          ng-change="validateJSON(edit.userMeta)"
                          ng-init="edit.userMeta = userMeta">
                </textarea>
            </div>

            <br>

            <span class="editable-header">Auto Meta </span>
            <pre>{{autoMeta ? autoMeta : 'No auto metadata found'}}</pre>

        </div>

    </md-content>

    <div class="md-actions">
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </div>
</md-dialog>
