
<md-dialog flex="50">

    <md-toolbar>
      <div class="md-toolbar-tools md-toolbar-accent">
        <h3>Overview</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content layout-margin>
        <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>

        <div ng-if="!loading">
            <table class="table table-horizontal">
                <thead></thead>
                <tbody>
                    <tr><td>Name</td><td>{{meta[0]}}</td></tr>
                    <tr><td>Type</td><td>{{meta[1]}}</td></tr>
                    <tr><td>Path</td><td>{{meta[2] + meta[0]}}</td></tr>
                    <tr><td>Created</td><td>{{meta[3]}}</td></tr>
                    <tr><td>Created by</td><td>{{meta[5]}}</td></tr>
                    <tr><td>UUID (ID)</td><td>{{meta[4]}}</td></tr>
                    <tr><td>Global Permission</td><td>{{meta[9]}}</td></tr>
                    <tr><td>Your Permission</td><td>{{meta[10]}}</td></tr>
                </tbody>
            </table>

            <h3>Meta data</h3>

            <pre>{{meta[8] ? meta[8]: 'No meta data found'}}</pre>
        </div>

    </md-content>

    <div class="md-actions">
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </div>
</md-dialog>
