
<div id="table-page-wrapper">
    <div class="fixed-header" fixed-header fixed-table="data-browser">
        <h4>
            <img src="img/file-cabinet-icon.svg" style="opacity: .5;" width="22" height="22">

            <span ng-if="!path.length">
                My Data
            </span>

            <span ng-if="path.length">
                <a ui-sref="app.myData({dir: '/'+$root.user})">My Data</a>
                <span ng-repeat="d in path | limitTo: path.length-1">
                    / <a ui-sref="app.myData({dir: '{{getLink($index)}}' })">{{d}}</a>
                </span>
                / {{path[path.length-1]}}
            </span>
        </h4>

        <md-progress-linear style="visibility: {{status.count ? 'visible':'hidden'}};"
                            md-mode="determinate"
                            ng-value="status.progress">
        </md-progress-linear>


        <!--
        <div style="margin: 10px 0 0 0;">

            <div dd-filter
                ng-model="test23"
                dd-id="input-apps"
                dd-title="'Select an app to run'"
                dd-placeholder="Filter apps"
                dd-default="'Apps'"
                dd-data="appUI.appList"
                dd-class="input-sm"
                class="pull-left">
            </div>
            <div class="col-md-5 pull-left">
                <input ng-model="query" id="{{ddID}}" type="text" class="form-control input-sm" placeholder="Search my data">
            </div>
        </div>-->

        <div ng-if="!loading" class="pull-right">
            <span class="ws-opt" ng-click="newPlaceholder()">
                <i class="icon-folder-add"></i>
                new folder
            </span>
            <span ng-if="path.length" class="ws-opt" ng-click="openUploader($event, folder)">
                <i class="fa fa-cloud-upload"></i>
                Upload...
            </span>

            <!--
            <form id="upload-form" class="upload-form" style="display:inline;">
                <i class="fa fa-cloud-upload"></i>
                Upload...
                <input name="upload"
                       enctype="multipart/form-data"
                       type="file"
                       onchange="angular.element(this).scope().createNode(this.files)" />
            </form>-->

            <!--
            <span class="ws-opt" >
                <i class="fa fa-plus"></i>
                new object
            </span>
            -->
            <!--<span>
                <input type="text" class="form-control input-sm pull-right" ng-model="wsSearch" placeholder="search {{path[0]}}..." >
            </span>-->
        </div>


        <table ng-show="!loading" class="table ws-table-header">
            <thead>
                <tr ng-class="{'hidden-header': select == true}">
                    <th></th>
                    <th ng-click="predicate = 'name'; reverse=!reverse;" class="point">Name
                        <span ng-if="predicate == 'name'">
                            <i ng-if="reverse" class="fa fa-caret-down"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up"></i>
                        </span>
                    </th>
                    <th ng-click="predicate = 'type'; reverse=!reverse;" class="point">Type
                        <span ng-if="predicate == 'type'">
                            <i ng-if="reverse" class="fa fa-caret-down mute"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up mute"></i>
                        </span>
                    </th>
                    <th ng-click="predicate = 'timestamp'; reverse=!reverse;" class="point">Mod Date
                        <span ng-if="predicate == 'timestamp'">
                            <i ng-if="reverse" class="fa fa-caret-down mute"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up mute"></i>
                        </span>
                    </th>
                    <th ng-click="predicate = 'size'; reverse=!reverse;" class="point">Size
                        <span ng-if="predicate == 'size'">
                            <i ng-if="reverse" class="fa fa-caret-down mute"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up mute"></i>
                        </span>
                    </th>
                    <!--<th ng-click="predicate = 'files'; reverse=!reverse;" class="point">Files
                        <span ng-if="predicate == 'files'">
                            <i ng-if="reverse" class="fa fa-caret-down mute"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up mute"></i>
                        </span>
                    </th>-->

                    <div class="select-opts" ng-if="select">
                        <span class="select-name">
                            <b>{{uiTools.trim(selected.name, 20)}}</b>
                        </span>

                        <span class="ws-opt" ng-click="showMeta($event, selected)">
                            <i class="fa fa-eye"></i> View Meta
                        </span>

                        <span class="ws-opt" ng-click="deleteObj(selected)">
                            <i class="fa fa-trash-o"></i> Delete
                        </span>

                        <!--<span class="ws-opt">
                            <i class="fa fa-edit"></i> Rename...
                        </span>-->
                        <span class="ws-opt" ng-if="selected.type != 'folder'">
                            <a class="browser-download" href="{{selected.downloadURL}}">
                                <i class="fa fa-cloud-download"></i> Download...
                            </a>
                        </span>

                        <span ng-if="path.length && selected.type == 'genome'"
                              class="ws-opt"
                              ng-click="reconstruct($event, folder+'/'+selected.name)">
                            <i class="icon-tools"></i>
                            Reconstruct
                        </span>

                        <span ng-if="path.length && selected.type == 'model'"
                              class="ws-opt"
                              ng-click="gapfill($event, folder+'/'+selected.name)">
                            <i class="fa fa-circle"></i>
                            Gapfill
                        </span>

                        <span ng-if="path.length && selected.type == 'model'"
                              class="ws-opt"
                              ng-click="runFBA($event, folder+'/'+selected.name)">
                            <i class="fa fa-bar-chart"></i>
                            Run FBA
                        </span>

                    </div>

                </tr>
            </thead>
        </table>
    </div>

    <table ng-if="!loading" id="data-browser" class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Type</th>
                <th>Mod Date</th>
                <th>Size</th>
                <!--<th>Files</th>-->
            </tr>
        </thead>

        <tr ng-if="placeHolder">
            <td><i class="fa fa-folder-o fa-2x soft"></i></td>
            <td>
                <form ng-submit="createFolder(newFolder.name)">
                    <input type="text"
                           ng-model="newFolder.name"
                           focus-on="placeholderAdded"
                           ng-blur="createFolder(newFolder.name)">
                </form>
                <span ng-if="saving">saving...</span>
            </td>
            <td>Folder</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr ng-repeat="item in items | orderBy : predicate : reverse"
            ng-class="{active: selected.index == $index}"
            ng-click="selectRow($event, $index, item)">

            <td ng-if="item.type == 'folder'">
                <i class="fa fa-folder-o fa-2x soft"></i>
            </td>
            <td ng-if="item.type != 'folder'">
                <i class="fa fa-file-text-o fa-2x soft"></i>
            </td>

            <td>
                <form ng-if="edit.index == $index" ng-submit="rename(selected.name, edit.name)">
                    <input ng-if="!saving"
                           type="text"
                           ng-model="edit.name"
                           focus-on="editable"
                           ng-blur="rename(selected.name, edit.name)" required>
                    <span ng-if="saving">saving...</span>
                </form>

                <a ng-if="item.type == 'folder' && edit.index != $index"
                   ui-sref="app.myData({dir: folder+'/'+item.name })"
                   ng-click="prevent($event)">
                    {{item.name}}
                </a>

                <a ng-if="item.type == 'model' && edit.index != $index"
                   ui-sref="app.modelPage({path: folder+'/'+item.name })"
                   ng-click="prevent($event)">
                    {{item.name}}
                </a>

                <span ng-if="deleting">deleting...</span>

                <span ng-if="(item.type != 'folder' && item.type != 'model') && edit.index != $index"
                      ng-click="prevent($event)">
                    {{item.name}}
                </span>
            </td>
            <td>{{item.type}}</td>
            <td>{{relativeTime(item.timestamp)}}</td>
            <td>{{item.type != 'folder' ? readableSize(item.size) : '-'}}</td>
            <!--<td>{{item.type == 'folder' && item.files ? item.files : '-'}}</td>-->
        </tr>
    </table>

    <div class="dropdown position-fixed" id="context-menu">
        <ul class="dropdown-menu" role="menu">
            <li>
              <a role="menuitem" tabindex="1"
                 ng-click="deleteObj(selected.name) ">
                 <i class="fa fa-trash-o"></i> Delete...
              </a>
            </li>
            <li>
              <a role="menuitem" tabindex="2"
                 ng-click="editableName(selected)">
                 <i class="fa fa-edit"> Rename...</i>
                 <span ng-if="selected.type == 'folder'" class="label label-danger pull-right">No API</span>
              </a>
            </li>

            <li ng-if="selected.type != 'folder'">
              <a class="pointer" role="menuitem" tabindex="3"
                 ng-click="panel.expanded = true">
                <i class="fa fa-cloud-download"></i> Download
                <span class="label label-danger pull-right">No API</span>
              </a>
            </li>
        </ul>
    </div>

    <div ng-if="!items.length && !loading" class="text-center no-data soft">
        No data here.
        Drag files here to upload (coming soon).
    </div>

    <md-progress-circular ng-if="loading" md-mode="indeterminate">
   </md-progress-circular>
</div>
