<div ng-if="plants.length">
    <div class="table-controls" layout="row" >
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="Search models">
        </md-input-container>

        <md-input-container pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="filtered.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>
    </div>

    <!-- HEADER -->
    <div layout="row">
        <div class="expand-container vertical-center">
        </div>

        <div flex="10" layout="row" layout-align="start center">
            <b>Model ID</b>
        </div>

        <div flex="15" layout="row" layout-align="start center">
            <b>Species Name</b>
        </div>

        <div flex="5" layout="row" layout-align="start center">
            <b>Species Domain</b>
        </div>

        <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Reactions</b></div>
        </div>

        <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Genes</b></div>
        </div>

        <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>FBA</b></div>
        </div>
        
        <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Gapfilling</b></div>
        </div>        

        <div flex="15" layout="row" layout-align="end center" hide-md hide-sm >
            <div><b>Modification Date</b></div>
        </div>

        <div flex="15" layout="row" layout-align="center center">
            <div><b>Commands</b></div>
        </div>
    </div>



    <div ng-repeat-start="item in (filtered = ( plants | filter: opts.query) | limitTo : opts.limit : opts.offset)"
         ng-click="showRelatedData(item)"
         class="row-hover my-model">

        <model-item ng-if="!item.status" layout="row">

            <div flex="10" class="vertical-center">
                <a ui-sref="app.modelPage({path: item.path})" ng-click="showRelatedData(item)">
                    <md-tooltip md-delay="800">View Model</md-tooltip>
                    {{item.name}}
                </a><br>
            </div>

        <div flex="15" layout="row" layout-align="start center">
            <a ui-sref="app.modelPage({path: item.path})" ng-click="showRelatedData(item)">
                <md-tooltip  md-delay="800">View Model</md-tooltip>
                {{item.orgName}}
            </a>
        </div>

        <div flex="5" layout="row" layout-align="start center">
            Plant
        </div>
                
        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div>{{item.rxnCount}}</div> 
        </div>

        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            0    
        </div>

        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div>{{item.fbaCount}}</div>     
        </div>

        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div>{{item.gapfillCount}}</div>     
        </div>
        
        <div flex="15"  layout="row" layout-align="end center" hide-md hide-sm>
            <div>{{relativeTime(item.timestamp)}}</div>
        </div>

        <div flex="15" layout="column" layout-align="end center">
            <md-button md-no-ink ng-click="toggleOperations($event, 'download', item)" aria-label="view download options">
                <md-tooltip ng-if="!selected">View download options</md-tooltip>
                <i class="icon-file-download"></i>
            </md-button>
            
                            <a ng-if="!copyInProgress[$index]" ng-click="copy($index, item.path.split('/').slice(0,-2).join('/'))">
                                Copy
                            </a>
                            <span ng-if="copyInProgress[$index]">
                                Copying...
                            </span>
         </model-item>                        
        </div>
    </div>

    <div ng-repeat-end ng-if="item.relatedFBAs || item.relatedGapfills" class="small-tabs my-model-tabs">
        <!-- 
        <md-tabs md-selected="tabs.selectedIndex" md-no-ink md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    FBA Simulations
                    (<span class="label-fba-count">{{item.fbaCount}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-fbas.html'">
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    Gapfills
                    (<span class="label-gapfill-count">{{item.gapfillCount}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-gapfills.html'">
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    Expression Data
                    (<span class="color-bright-purple">{{item.expression.length}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-expression.html'">
                </md-tab-body>
            </md-tab>        
                
        </md-tabs>
    -->
    </div>
    
    <br>
    <div ng-if="filtered.length == 0 && !loading" class="alert alert-warning">No model found</div>
</div>

 </div> <!-- end outer most div -->
