
<md-content layout="column" layout-fill>
<div class="h2">Reactions</div>
<hr class="no-margin">

            <ng-table-solr table-header="rxnHeader"
                           table-data="rxns"
                           table-opts="rxnOpts"
                           table-loading="loadingRxns"
                           enable-column-search="enableColumnSearch"
                           opts="opts"
                           table-placeholder="Search reactions">
            </ng-table-solr>
</md-content>