
<div class="h2">Biochemistry</div>
<hr class="no-margin">


<md-tabs md-selected="tabs.selectedIndex" md-no-ink md-dynamic-height="false">
    <md-tab label="Reactions">
        <md-content>
            <ng-table-solr table-header="rxnHeader"
                           table-data="rxns"
                           table-opts="rxnOpts"
                           table-loading="loadingRxns"
                           table-placeholder="Search reactions">
            </ng-table-solr>
        </md-content>
    </md-tab>

    <md-tab label="Compounds">
        <md-content>
            <ng-table-solr table-header="cpdHeader"
                           table-data="cpds"
                           table-opts="cpdOpts"
                           table-loading="loadingCpds"
                           table-placeholder="Search compounds">
            </ng-table-solr>
        </md-content>
    </md-tab>

    <!--
    <md-tab label="Genes">
        <md-content>
            <ng-table-solr table-header="geneHeader"
                           table-data="genes"
                           table-opts="geneOpts"
                           table-loading="loadingGenes"
                           table-placeholder="Search genes">
            </ng-table-solr>
        </md-content>
    </md-tab>-->

    <!-- waiting on API
    <md-tab>
        <md-tab-label>Biomass Compounds</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>

    <md-tab>
        <md-tab-label>Genes</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>


    <md-tab>
        <md-tab-label>Media Formulations</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>
    -->

</md-tabs>
