
<div style="background:black;border:1px solid #cccccc;padding: 10px;">
    <ul class="toolbar">
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Microbes', '0')">
                <span hide-sm>PublicMicrobialModels</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Plants', '0')">
                <span hide-sm>PublicPlantModels</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Plants', '2')">
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
        
        <!-- TODO: Fix Tab Canvas Navigation for BioChem page:
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1">
            <a ng-click="changeView('reaction', '0')">
                <span hide-sm>Reactions</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1">
            <a ng-click="changeView('reaction', '0')">
                <span hide-sm>Compounds</span>
            </a>
        </li>
        -->
        <li ng-class="{ active: $state.includes('app.media') }" id="tour-1">
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>


<div class="h2">Biochemistry</div>
<hr class="no-margin">


<md-tabs md-selected="tabs.tabIndex" md-no-ink md-dynamic-height>
    <md-tab label="Reactions">
        <md-tab-body>
            <ng-table-solr table-header="rxnHeader"
                           table-data="rxns"
                           table-opts="rxnOpts"
                           table-loading="loadingRxns"
                           table-placeholder="Search reactions">
            </ng-table-solr>
        </md-tab-body>
    </md-tab>

    <md-tab label="Compounds">
        <md-tab-body>
            <ng-table-solr table-header="cpdHeader"
                           table-data="cpds"
                           table-opts="cpdOpts"
                           table-loading="loadingCpds"
                           table-placeholder="Search compounds">
            </ng-table-solr>
        </md-tab-body>
    </md-tab>

    <!--
    <md-tab label="Genes">
        <md-content>
            <ng-table-solr table-header="geneHeader"
                           table-data="genes"
                           table-opts="geneOpts"
                           table-loading="loadingGenes"
                           table-placeholder="Search genes">
            </ng-table-solr>
        </md-content>
    </md-tab>-->

    <!-- waiting on API
    <md-tab>
        <md-tab-label>Biomass Compounds</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>

    <md-tab>
        <md-tab-label>Genes</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>


    <md-tab>
        <md-tab-label>Media Formulations</md-tab-label>
        <md-tab-template>
            Coming soon!
        </md-tab-template>
    </md-tab>
    -->

</md-tabs>
