<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
    <ul class="md-toolbar-tools about-toolbar">
       <!--
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Microbes'})">
                <span hide-sm>Public Microbial Models</span>
            </a>
        </li>
        -->

        <li ng-class="{ active: $state.includes('app.RefModels', {ref: 'Plants'}) }"
            style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Plants'})" >
                <span hide-sm>Public Plant Models</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.RefModels', {ref: 'Annotations'}) }"
            style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Annotations'})" >
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        <!-- 
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
         -->
        <li ng-class="{ active: $state.includes('app.biochem', {chem: 'reactions'}) ||
                                $state.includes('app.rxn')}"
            style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'reactions'})">
                <span hide-sm>Reactions</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.biochem', {chem: 'compounds'}) ||
                                $state.includes('app.cpd')}"
            style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'compounds'})" tabIndex='1'>
                <span hide-sm>Compounds</span>
            </a>
        </li>

        <li ng-class="{ active: $state.includes('app.media')}"
            style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>
<div layout="row" ng-if="!loading">
    <div flex="33" layout="column">
        <span><h4><strong>Compound:</strong>&nbsp;{{cpd.id}}&nbsp;({{cpd.name}},&nbsp;<span pretty-formula={{cpd.formula}}</h4></span>)</span>
    </div>
    <div flex="66" layout="column"></div>
</div>
<hr>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column">
        <img id="compound-image" ng-src="{{getImagePath(cpd.id)}}"
        height="325" data-toggle="modal" data-target="#modal"
        tooltip-trigger tooltip="Click to expand."
        style="margin-left: 0px; display: block;"></img>
    </div>
    <div flex="66" layout="column">
        <ul class="list-unstyled no-margin">
            <li><strong> &#8710G:</strong>&nbsp;{{cpd.deltag===10000000?'unspecified':cpd.deltag}}&plusmn{{cpd.deltagerr===10000000?'unspecified':cpd.deltagerr}}&nbsp;(kcal/mol)</li>
            <li ng-if="cpd.pka"><strong>pKa:</strong> {{cpd.pka_display}}</li>
            <li ng-if="cpd.pkb"><strong>pKb:</strong> {{cpd.pkb_display}}</li>
            <li><strong>Weight:</strong> {{cpd.mass}}</li>
            <li><strong>Charge:</strong> {{cpd.charge}}</li>
            <li ng-if="cpd.structure"><strong>Structure:</strong> {{::cpd.structure}}</li>
            <li><strong>InChIKey:</strong> {{cpd.inchikey}}</li>
            <li><strong>SMILES:</strong> {{cpd.smiles}}</li>
            <li><strong>Is co-factor?:</strong> {{cpd.is_cofactor?'Yes':'No'}}</li>
            <li><strong>Is core?:</strong> {{cpd.is_core?'Yes':'No'}}</li>
            <li><strong>Is obsolete?:</strong> {{cpd.is_obsolete?'Yes':'No'}}</li>
            <li><strong>Aliases:</strong>
                <span ng-repeat="als in cpd.aliases">
                    <span ng-if="als.indexOf('BiGG')!=-1"><b>{{als.split(':')[0]}}:</b>
                        <span ng-repeat="al in als.split(':')[1].split(';')">
                            <a target="_blank" href="http://bigg.ucsd.edu/universal/metabolites/{{al.trim()}}">{{al}}</a>;
                        </span>
                    </span>
                    <span ng-if="als.indexOf('KEGG')!=-1"><b>{{als.split(':')[0]}}:</b>
                        <span ng-repeat="al in als.split(':')[1].split(';')">
                            <a target="_blank" href="https://www.kegg.jp/entry/{{al.trim()}}">{{al}}</a>;
                        </span>
                    </span>
                    <span ng-if="als.indexOf('MetaCyc')!=-1"><b>{{als.split(':')[0]}}</b>
                        <span ng-repeat="al in als.split(':')[1].split(';')">
                            <a target="_blank" href="https://biocyc.org/META/NEW-IMAGE?type=COMPOUND&object={{al.trim()}}">{{al}}</a>;
                        </span>
                    </span>
                    <span ng-if="als.indexOf('BiGG')==-1 && als.indexOf('KEGG')==-1 && als.indexOf('MetaCyc')==-1">
                        <b>{{als.split(':')[0]}}:</b>{{als.split(':')[1]}};
                    </span>
                </span>
            </li>
            <li><strong>Synonyms:</strong> {{cpd.synm}}</li>
            <li ng-if="cpd.ontology!='class:null|context:null'">
                <strong>Ontology:</strong> {{cpd.ontology}}
            </li>
            <li><strong>Source:</strong> {{cpd.source}}</li>
        </ul>
    </div>
</div>
<div id='modal' class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
        <h4 class="modal-title">Compound {{data.MINE_id}}</h4>
      </div>
      <div class="modal-body">
		  <img ng-src="{{getImagePath(cpd.id)}}" width="100%">
	  </div>
    </div>
  </div>
</div>
<hr>
<ng-include src="'app/views/biochem/biochem-cpd-reaction.html'"></ng-include>