
<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
    <ul class="toolbar">
       <!--
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Microbes'})">
                <span hide-sm>Public Microbial Models</span>
            </a>
        </li>
        -->

        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Plants'})" >
                <span hide-sm>Public Plant Models</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Annotations'})" >
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        <!-- 
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
         -->
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'reactions'})">
                <span hide-sm>Reactions</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'compounds'})" tabIndex='1'>
                <span hide-sm>Compounds</span>
            </a>
        </li>

        <li ng-class="{ active: $state.includes('app.media') }" id="tour-1" >
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>

<!--div layout="row">
    <div class="h5">
        <i class="icon-folder-open-o"></i>
        <a ui-sref="app.biochem({chem: 'compounds'})"> >Compounds</a>
    </div>
    <div class="h2">
        Compound
        <small>{{cpd.id}}&nbsp;({{cpd.name}},&nbsp;<span ng-if="!loading" pretty-formula={{cpd.formula}}></span>)</small>
    </div>
</div-->

<!--div layout="row">
<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular-->

<table class="table table-horizontal table-condensed" ng-if="!loading">
    <thead></thead>
    <tbody>
        <tr>
            <td style="width: 280px;">Compound</td>
            <td>
                {{cpd.id}}&nbsp;({{cpd.name}},&nbsp;<span ng-if="!loading" pretty-formula={{cpd.formula}}></span>)
            </td>
		</tr>
        <tr>
            <td>structure</td>
            <td>
                <img id="compound-image" ng-src="{{getImagePath(cpd.id)}}"
                 height="325" data-toggle="modal" data-target="#modal"
                 tooltip-trigger tooltip="Click to expand."
                 style="margin-left: 0px; display: block;"></img>
            </td>
		</tr>
        <!--tr><td width="16%">ID</td><td>{{cpd.id}}</td></tr>
        <tr>
            <td>Name</td>
            <td><span>{{cpd.name}}&nbsp;&nbsp;(Formula:&nbsp;<span pretty-formula={{cpd.formula}}></span>,&nbsp;&nbsp;Abbreviation:&nbsp;{{cpd.abbreviation}})</span>
            </td>
        </tr-->
        <tr>
            <td>Molecular properties</td>
            <td><span>Weight={{cpd.mass}},&nbsp;&nbsp;Charge={{cpd.charge}}</span></td>
        </tr>
        <tr>
            <td>Gibbs free energy change</td>
            <td>&#8710G={{cpd.deltag===10000000?'unspecified':cpd.deltag}}&plusmn{{cpd.deltagerr===10000000?'unspecified':cpd.deltagerr}}&nbsp;(kcal/mol)</td>
        </tr>
        <tr ng-if="cpd.pka">
            <td>PKA IDs</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in cpd.pka">{{::id}}</li>
                </ul>
            </td>
        </tr>

        <tr ng-if="cpd.pkb">
            <td>PKB IDs</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in cpd.pkb">{{::id}}</li>
                </ul>
            </td>
        </tr>
        <tr ng-if="cpd.structure"><td>structure</td><td>{{::cpd.structure}}</td></tr>
        <tr>
            <td>Aliases</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in cpd.aliases">{{::id|rmquotes}}</li>
                </ul>
                <span style="display: inline-block; width: 700px;">{{cpd.synm}}</span>
            </td>
        </tr>
        <tr><td>Source</td><td>{{cpd.source}}</td></tr>
        <tr>
            <td>Other info</td>
            <td><span>Is cofactor?:&nbsp;{{cpd.is_cofactor?'Yes':'No'}},&nbsp;&nbsp;
                      Is core?:&nbsp;{{cpd.is_core?'Yes':'No'}},&nbsp;&nbsp;
                      Is obsolete?:&nbsp;{{cpd.is_obsolete===true?'Yes':'No'}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div id='modal' class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
        <h4 class="modal-title">Compound {{data.MINE_id}}</h4>
      </div>
      <div class="modal-body">
		  <img ng-src="{{getImagePath(cpd.id)}}" width="100%">
	  </div>
    </div>
  </div>
</div>
<ng-include src="'app/views/biochem/biochem-reaction.html'"></ng-include>
