<div layout="row">
    <div class="h5">
        <i class="icon-folder-open-o"></i>
        <a ui-sref="app.biochem({chem: 'reactions'})"> >Reactions</a>
    </div>
    <div class="h2">
        Reaction
        <small>{{rxn.name}}</small>
    </div>
</div>
<hr class="no-margin">
<br>

<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
<table class="table table-horizontal table-condensed" ng-if="!loading">
    <thead></thead>
    <tbody>
        <tr>
            <td>Equation</td>
            <td stoichiometry-to-imgs="{{rxn.stoichiometry}}" direction="{{rxn.direction}}"></td>
        </tr>
        <tr><td>ID</td><td>{{rxn.id}}</td></tr>
        <tr><td>Abbreviation</td><td>{{rxn.abbreviation}}</td></tr>
        <tr><td>Equation with IDs</td><td>{{rxn.equation}}</td></tr>
        <tr><td>Stoichiometry</td><td>{{rxn.stoichiometry}}</td></tr>
        <tr><td>DeltaG</td><td>{{rxn.deltag}}</td></tr>
        <tr><td>DeltaGErr</td><td>{{rxn.deltagerr}}</td></tr>
        <tr><td>Direction</td><td>{{rxn.direction}}</td></tr>
        <tr><td>Reversibility</td><td>{{rxn.reversibility}}</td></tr>
        <tr><td>Is transport?</td><td>{{rxn.is_transport_display}}</td></tr>
        <tr><td>Status</td><td>{{rxn.status}}</td></tr>
        <tr><td>Is obsolete?</td><td>{{rxn.is_obsolete_display}}</td></tr>

        <tr>
            <td>Linked reaction ID(s)</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.linked_rxn_ids">
                        <a ui-sref="app.rxn({id: id})">{{id}}</a>
                    </li>
                </ul>
                <span class="text-muted" ng-if="!rxn.linked_rxn_ids.length">(none found)</span>
            </td>
        </tr>

        <tr>
            <td>Compound ID(s)</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.cpd_ids">
                        <a ui-sref="app.cpd({id: id})">{{id}}</a>
                    </li>
                </ul>
                <span class="text-muted" ng-if="!rxn.cpd_ids.length">(none found)</span>
            </td>
        </tr>

        <tr>
            <td>Pathways</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.pathways">{{id}}</li>
                </ul>
                <span class="text-muted" ng-if="!rxn.pathways.length">(none found)</span>
            </td>
        </tr>

        <tr>
            <td>Aliases</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.aliases">{{id}}</li>
                </ul>
            </td>
        </tr>
    </tr>
</table>
