<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
    <ul class="toolbar">
       <!--
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Microbes'})">
                <span hide-sm>Public Microbial Models</span>
            </a>
        </li>
        -->

        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Plants'})" >
                <span hide-sm>Public Plant Models</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Annotations'})" >
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        <!-- 
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
         -->
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'reactions'})">
                <span hide-sm>Reactions</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'compounds'})" tabIndex='1'>
                <span hide-sm>Compounds</span>
            </a>
        </li>

        <li ng-class="{ active: $state.includes('app.media') }" id="tour-1" >
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>
<!--div layout="row">
    <div class="h5">
        <i class="icon-folder-open-o"></i>
        <a ui-sref="app.biochem({chem: 'reactions'})"> >Reactions</a>
    </div>
    <div class="h2">
        Reaction
        <small>{{rxn.id}}&nbsp;({{rxn.name}})</small>
    </div>
</div>
<hr class="no-margin">
<br-->

<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
<table class="table table-horizontal table-condensed" ng-if="!loading">
    <thead></thead>
    <tbody>
        <tr>
            <td width="16%">Reaction</td>
            <td>
                {{rxn.id}}&nbsp;({{rxn.name}})
            </td>
		</tr>
        <tr>
            <td width="16%">Equation</td>
            <td stoichiometry-to-imgs="{{rxn.stoichiometry}}" direction="{{rxn.direction}}"></td>
        </tr>
        <!--tr><td>ID</td><td>{{rxn.id}}</td></tr>
        <tr><td>Abbreviation</td><td>{{rxn.abbreviation}}</td></tr-->
        <tr><td>Equation with IDs</td><td>{{rxn.equation}}</td></tr>
        <!--tr><td>Stoichiometry</td><td>{{rxn.stoichiometry}}</td></tr-->
        <tr>
            <td>Gibbs free energy change</td>
            <td><span>&#8710G={{rxn.deltag}}&plusmn{{rxn.deltagerr}}&nbsp;(kcal/mol)&nbsp;&nbsp;(estimated thermodynamic reversibility:&nbsp;{{rxn.reversibility}})</span></td>
        </tr>
        <!--tr><td>Thermodynamic</td><td>{{rxn.reversibility}}</td></tr>
        <tr><td>Direction</td><td>{{rxn.direction}}</td></tr-->

        <tr ng-if="rxn.is_obsolete_display">
            <td>Linked reaction</td>
            <td>
                <table>
                <tr>
                    <td><a ui-sref="app.rxn({id: rxn.replace_rxn})">{{rxn.replace_rxn}}</a></td>
                    <td ng-if="rxn.linked_rxn_ids.length">(Identical reactions:</td>
                    <td>
                        <ul class="list-unstyled no-margin" ng-if="rxn.linked_rxn_ids.length">
                            <li style="display: inline" ng-repeat="id in rxn.linked_rxn_ids">
                                <a ui-sref="app.rxn({id: id})">{{id}}</a>
                            </li>
                        </ul>
                    </td>
                    <td ng-if="rxn.linked_rxn_ids.length">)</td>
                </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>Compound ID(s)</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li style="display: inline" ng-repeat="id in rxn.cpd_ids">
                        <a ui-sref="app.cpd({id: id})">{{id}}</a>
                    </li>
                </ul>
                <span class="text-muted" ng-if="!rxn.cpd_ids.length">(none found)</span>
            </td>
        </tr>

        <tr>
            <td>Aliases</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.aliases">{{id}}</li>
                </ul>
            </td>
        </tr>

        <tr><td>Is transport?</td><td>{{rxn.is_transport?'Yes':'No'}}</td></tr>
        <tr><td>Status</td><td>{{rxn.status}}<span ng-if="rxn.is_obsolete_display">(and is obsolete)</span></td></tr>
        <tr>
            <td>Pathways</td>
            <td>
                <ul class="list-unstyled no-margin">
                    <li ng-repeat="id in rxn.pathways">{{id}}</li>
                </ul>
                <span class="text-muted" ng-if="!rxn.pathways.length">(none found)</span>
            </td>
        </tr>
    </tr>
</table>
