<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
    <ul class="toolbar">
       <!--
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Microbes'})">
                <span hide-sm>Public Microbial Models</span>
            </a>
        </li>
        -->

        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Plants'})" >
                <span hide-sm>Public Plant Models</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Annotations'})" >
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        <!-- 
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
         -->
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'reactions'})">
                <span hide-sm>Reactions</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'compounds'})" tabIndex='1'>
                <span hide-sm>Compounds</span>
            </a>
        </li>

        <li ng-class="{ active: $state.includes('app.media') }" id="tour-1" >
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>

<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
<hr>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column"><strong>Reaction</strong></div>
    <div flex="60" layout="column">{{rxn.id}}&nbsp;[{{rxn.name}}]</div>
</div>
<hr>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column"><strong>Equation</strong></div>
    <div flex="60" layout="column">
        <span stoichiometry-to-imgs="{{rxn.stoichiometry}}" direction="{{rxn.direction}}"></span>
    </div>
</div>
<hr>
<div layout="row">
    <div flex="20" layout="column"><strong>Abbreviation</strong></div>
    <div flex="60" layout="column"> {{rxn.abbreviation}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Reaction definition</strong></div>
    <div flex="60" layout="column"> {{rxn.definition_display}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Equation with compound IDs</strong></div>
    <div flex="60" layout="column"> {{rxn.equation_display}}</div>
</div>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column"><strong>Gibbs free energy change&nbsp;&#8710G</strong></div>
    <div flex="60" layout="column">
        <span>{{rxn.deltag}}&plusmn{{rxn.deltagerr}}&nbsp;(kcal/mol)</span>
    </div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>EC numbers</strong></div>
    <div flex="60" layout="column">{{rxn.ec_numbers}}</div>
</div>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column"><strong>Direction</strong></div>
    <div flex="60" layout="column">{{rxn.direction}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Thermodynamic reversibility</strong></div>
    <div flex="60" layout="column">{{rxn.reversibility}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Status</strong></div>
    <div flex="60" layout="column">{{rxn.status}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Is obsolete?</strong></div>
    <div flex="60" layout="column">{{rxn.is_obsolete_display?'Yes':'No'}}</div>
</div>
<div layout="row" ng-if="rxn.is_obsolete_display">
    <div flex="20" layout="column"><strong>Linked reaction</strong></div>
    <div flex="60" layout="column">
        <span><a ui-sref="app.rxn({id: rxn.replace_rxn})">{{rxn.replace_rxn}}</a></span>
    </div>
</div>
<div layout="row" ng-if="rxn.aliases.length">
    <div flex="20" layout="column"><strong>Aliases</strong></div>
    <div flex="60" layout="column">{{rxn.aliases}}</div>
</div>
<div layout="row" ng-if="!loading">
    <div flex="20" layout="column"><strong>Synonyms</strong></div>
    <div flex="60" layout="column">{{rxn.synm}}</div>
</div>
<div layout="row">
    <div flex="20" layout="column"><strong>Is transport?</strong></div>
    <div flex="60" layout="column">{{rxn.is_transport?'Yes':'No'}}</div>
</div>
<div layout="row">
        <div flex="20" layout="column"><strong>Source</strong></div>
        <div flex="60" layout="column">{{rxn.source}}</div>
</div>
<div layout="row" ng-if="rxn.pathways.length">
    <div flex="20" layout="column"><strong>Pathways</strong></div>
    <div flex="60" layout="column">{{rxn.pathways}}</div>
</div>
<div layout="row" ng-if="rxn.ontology!='class:null|context:null|step:null'">
        <div flex="20" layout="column"><strong>Ontology</strong></div>
        <div flex="60" layout="column">{{rxn.ontology}}</div>
</div>