@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?gu3r0u');
	src:url('fonts/icomoon.eot?#iefixgu3r0u') format('embedded-opentype'),
		url('fonts/icomoon.ttf?gu3r0u') format('truetype'),
		url('fonts/icomoon.woff?gu3r0u') format('woff'),
		url('fonts/icomoon.svg?gu3r0u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e612";
}
.icon-file-download:before {
	content: "\e60d";
}
.icon-folder-add:before {
	content: "\e603";
}
.icon-highlight-remove:before {
	content: "\e60a";
}
.icon-remove-circle-outline:before {
	content: "\e60b";
}
.icon-archive2:before {
	content: "\e611";
}
.icon-archive:before {
	content: "\e60f";
}
.icon-folder-open-o:before {
	content: "\e605";
}
.icon-tools:before {
	content: "\e601";
}
.icon-lab:before {
	content: "\e608";
}
.icon-tools-2:before {
	content: "\e602";
}
.icon-lab2:before {
	content: "\e609";
}
.icon-trash:before {
	content: "\e60e";
}
.icon-stack:before {
	content: "\e610";
}
.icon-benzene:before {
	content: "\e607";
}
.icon-earth:before {
	content: "\e606";
}
.icon-tools3:before {
	content: "\e604";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-close:before {
	content: "\e600";
}
.icon-cog:before {
	content: "\e60c";
}
