@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ad5h9j');
	src:url('fonts/icomoon.eot?#iefixad5h9j') format('embedded-opentype'),
		url('fonts/icomoon.woff?ad5h9j') format('woff'),
		url('fonts/icomoon.ttf?ad5h9j') format('truetype'),
		url('fonts/icomoon.svg?ad5h9j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-highlight-remove:before {
	content: "\e60a";
}

.icon-remove-circle-outline:before {
	content: "\e60b";
}

.icon-close:before {
	content: "\e600";
}

.icon-cog:before {
	content: "\e60c";
}

.icon-folder-open-o:before {
	content: "\e605";
}

.icon-tools:before {
	content: "\e601";
}

.icon-lab:before {
	content: "\e608";
}

.icon-tools-2:before {
	content: "\e602";
}

.icon-lab2:before {
	content: "\e609";
}

.icon-earth:before {
	content: "\e606";
}

.icon-tools3:before {
	content: "\e604";
}

.icon-benzene:before {
	content: "\e607";
}

