@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?webkvv');
	src:url('fonts/icomoon.eot?#iefixwebkvv') format('embedded-opentype'),
		url('fonts/icomoon.woff?webkvv') format('woff'),
		url('fonts/icomoon.ttf?webkvv') format('truetype'),
		url('fonts/icomoon.svg?webkvv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
	content: "\e600";
}

.icon-earth:before {
	content: "\e606";
}

.icon-tools3:before {
	content: "\e604";
}

.icon-earth2:before {
	content: "\e9ca";
}

.icon-tools-2:before {
	content: "\e601";
}

.icon-lab:before {
	content: "\e608";
}

.icon-tools:before {
	content: "\e602";
}

.icon-lab2:before {
	content: "\e609";
}

.icon-tools2:before {
	content: "\e603";
}

.icon-test-tube:before {
	content: "\e605";
}

.icon-benzene:before {
	content: "\e607";
}

