$icon-globe: "\e600";
$icon-earth: "\e606";
$icon-tools3: "\e604";
$icon-earth2: "\e9ca";
$icon-tools-2: "\e601";
$icon-lab: "\e608";
$icon-tools: "\e602";
$icon-lab2: "\e609";
$icon-tools2: "\e603";
$icon-test-tube: "\e605";
$icon-benzene: "\e607";
