



<div layout="column" id="content" class="container">
    <div class="position-fixed sidebar"
         ng-include="'app/views/about-sidebar.html'">
    </div>

    <div ui-view style="margin: 0 10px 0 175px;">
        <h3>About ModelSEED</h3>
        <hr>
        <p>ModelSEED is a resource for the reconstruction, exploration,
        comparison, and analysis of metabolic models.</p>
        <br>


        <h4>Sources Funding Development</h4>
        <i>
        <p>This site and the tools and data hosted by it were developed and are maintained with support from the U.S. Department of Energy,
            Office of Biological and Environmental Research; under contract DE-AC02-06CH11357 (<b>KBase project</b>)
            and by the National Science Foundation under grant numbers PGRP-1025398 (for <b>PlantSEED</b>), MCB-1153357 (for <b>ModelSEED modeling</b>),
            PGRP-1444202 (for <b>ModelSEED biochemistry</b>), and MCB-1611952 (for <b>ModelSEED modeling</b>).</p>
        </i>
        <i>
            <p>The <b>ModelSEED</b> resource is based upon work supported by the
            U.S. Department of Energy, Office of Biological and Environmental Research; under contract DE-AC02-06CH11357
            and by the National Science Foundation grant number MCB-1153357.</p>
        </i>
    </div>
</div>
