<div layout="row" style="height: 100%;">

    <div layout="column" role="main" flex>

        <md-toolbar class="md-toolbar-tools md-whiteframe-z2 app-toolbar"
                    ng-include="'app/views/toolbar.html'">
        </md-toolbar>

        <div style="padding: 0px 20px 0px 20px; background-color: #000; color: #B9B9B9;">The ModelSEED website is currently under maintenance.  No jobs will run at this time. </div>

        <md-content ui-view id="content" layout-padding></md-content>

        <div class="background-shade-out"></div>
    </div>
</div>
