
<ng-include src="'app/views/nav.html'"></ng-include>

<ng-include src="'app/views/sidebar.html'"></ng-include>

<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div ui-view id="content"></div>
        </div>
    </div>
</div>


<!--
<div id="footer">
    <span class="pull-right">
        <i class="text-muted">Powered by </i>
        <a href="http://kbase.us" class="hover-inverted">
            <img width=30 height=30 src="img/labs_icon.png" />
        </a>
    </span>
</div>
-->
