


<h1 class="page-header">FBAs</h1>

<table class="table table-hover">

    <tr class="pointer" ui-sref="fbaByWS({ws: 'janakakbase:coreATP_FBA_Glycerol_Nitrate_anaerobic'})">
        <td class="link">ATP Glycerol Nitrate Anaerobic</td>
        <td><span class="text-muted">8,180</span></td>
    </tr>

    <tr class="pointer" ui-sref="fbaByWS({ws: 'core_VR_FBA_Glucose_aerobic'})">
        <td class="link">VR Glucose Aerobic</td>
        <td><span class="text-muted">8,180</span></td>
    </tr>

    <tr class="pointer" ui-sref="fbaByWS({ws: 'coreATP_FBA_Glucose_TMAO'})">
        <td class="link">ATP Glucose TMAO</td>
        <td><span class="text-muted">8,180</span></td>
    </tr>

    <tr class="pointer" ui-sref="fbaByWS({ws: 'coreATP_FBA_Glucose_DMSO'})">
        <td class="link">ATP Glucose DMSO</td>
        <td><span class="text-muted">8,180</span></td>
    </tr>

    <tr class="pointer" ui-sref="fbaByWS({ws: 'coreATP_FBA_Glucose_Nitrate_anaerobic'})">
        <td class="link">ATP Nitrate Anaerobic</td>
        <td><span class="text-muted">8,180</span></td>
    </tr>
    
    <tr class="pointer" ui-sref="fbaByWS({ws: 'coreATP_FBA_Glucose_anaerobic'})">
        <td class="link">ATP Glucose Anaerobic</td>
        <td><span class="text-muted">8,181</span></td>
    </tr>

    <tr class="pointer" ui-sref="fbaByWS({ws: 'coreATP_FBA_Glucose_aerobic'})">
        <td class="link">ATP Glucose Aerobic</td>
        <td><span class="text-muted">9,917</span></td>
    </tr>


</table>
