
<link href="splash/css/splash.css" rel="stylesheet">


<div style="padding: 0;">
<header>
    <div layout="row" layout-padding class="container" ng-controller="Login">
        <div class="intro-text" flex hide-sm>
            <img src="/img/ModelSEED-logo-horizontal.png" width="280">
            <div class="logo-sub-text text-muted">Metabolic Modeling Made Simple.</div>

            <!--
            <div layout-margin ng-controller="Tour">
                <a ng-click="startTour()">Take a tour!</a>
            </div>
            -->
        </div>

        <div ng-if="!$root.user" id="login" class="login" flex>
            <h4>
                Sign in with {{method.name}} account to continue
            </h4>

            <div ng-if="inValid" class="alert alert-danger" role="alert">
                <b>Try again.</b>
                Wrong username and/or password
            </div>

            <div ng-if="failMsg" class="alert alert-danger" role="alert">
                <b>Oh snap!</b>
                {{failMsg}}
            </div>

            <form>
                <md-input-container>
                    <label>{{method.name}} Username</label>
                    <input ng-model="user">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="pass" label="Password" type="password">
                </md-input-container>
                <md-button id="step1" ng-click="loginUser(user, pass)" type="submit"
                           class="md-primary md-raised pull-left" ng-disabled="!user.length || !pass.length">
                    Sign In
                </md-button>

                <small class="pull-right">
                    <a  href="{{method.newAccountURL}}" target="_blank">Create new account</a>
                </small>
            </form>

            <md-progress-circular ng-if="loading" class="pull-left" md-mode="indeterminate" md-diameter="25"></md-progress-circular>

        </div>

        <div class="alt-login-container" ng-if="!$root.user && method.name == 'RAST'">
            Or, sign in with:
            <div class="alt-login alt-login-patric" ng-click="switchMethod('patric')">
                <img src="img/patric.jpg" width="50" height="50" class="pull-left" />
                <div class="pull-left">
                    PATRIC
                </div>
            </div>
        </div>

        <div class="alt-login-container" ng-if="!$root.user && method.name == 'PATRIC'">
            Or, sign in with:
            <div class="alt-login" ng-click="switchMethod('rast')">
                <img src="img/seed.png" width="50" height="50" class="pull-left" />
                <div class="pull-left">
                    RAST<br>
                </div>
            </div>
        </div>

        <div ng-if="$root.user">
            <div ng-controller="Login" class="login">
                <h4>Continue to ModelSEED</h4>
                <md-button ui-sref="app.reconstruct" class="md-secondary md-raised">
                    Continue <md-icon class="material-icons" style="color: #fff; margin-bottom: 3px;" >input</md-icon>
                </md-button><br>
                <br>
                <a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </div>
        </div>
    </div>
</header>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>What is the ModelSEED?</h2><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p style="font-weight: 200;">ModelSEED is a resource for the reconstruction, exploration, comparison, and analysis of metabolic models.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="about-item">
                    <img src="img/home/fast.png" width="170"/>
                    <h4>Fast</h4>
                    <small>Faster reconstruction and gapfilling of models from annotated genomes</small>
                </div>

                <div class="about-item">
                    <img src="img/home/pencil.png" width="150"/>
                    <h4>Easy</h4>
                    <small>Editable media, models, and more makes experiementing with models a breeze</small>
                </div>

                <div class="about-item">
                    <div class="">
                        <img src="img/home/leaves.png" class="plant-img"/>
                        <img src="img/home/microbes.png" class="microbe-img"/>
                    </div>
                    <br>
                    <h4>Microbes and Plants</h4>
                    <small>Unified resources for microbial and plant modeling, making cross-disciplinary research a reality</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="about-item">
                    <img src="img/home/test-tubes.png" width="160"/>
                    <h4>Enabling Science</h4>
                    <small>Incorporates cutting-edge and experiemental methods/algorithms</small>
                </div>

                <div class="about-item">
                    <img src="img/home/box.png" width="170"/>
                    <h4>Open Source</h4>
                    <small>Open source with community contributions</small>
                </div>

                <div class="about-item">
                    <img src="img/home/code.png" width="170"/>
                    <h4>Programatic Access</h4>
                    <small>API clients for Perl and Python, and a REST API in the works.</small>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About</h2><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>ModelSEED is a resource for the reconstruction, exploration, comparison, and analysis of metabolic models.</p>

                <ul class="list-unstyled info-list">
                    <li><span class="info-check">✓</span> Faster reconstruction and gapfilling of models from annotated genomes.</li>
                    <li><span class="info-check">✓</span> Integrated interface for FBA and gapfilling.</li>
                    <li class="sub-item"> - Gapfill on your own custom media, run sophisticated FBA simulations, etc.</li>
                    <li><span class="info-check">✓</span> Greatly improved application performance.</li>
                    <li><span class="info-check">✓</span> API for programmatic access to modeling tools and data.</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="dark-2" id="highlights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Highlights</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 highlights-item">
                <p><b>Comprehensive Data Views</b></p>
                <a class="highlights-nolink">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-3x fa-arrow-circle-o-right"></i>
                        </div>
                    </div>-->
                    <img src="splash/img/examples/table.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 highlights-item">
                <p><b>Pathways</b></p>
                <a class="highlights-nolink">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                        </div>
                    </div>-->
                    <img src="splash/img/examples/pathway.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 highlights-item">
                <p><b>Heatmaps</b></p>
                <a class="highlights-nolink">
                    <!--<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                        </div>
                    </div>-->
                    <img src="splash/img/examples/heatmap.png" class="img-responsive" alt="">
                </a>
            </div>
            <!--
            <div class="col-sm-4 highlights-item">
                <a href="#highlightsModal4" class="highlights-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                        </div>
                    </div>
                    <img src="splash/img/examples/etc.png" class="img-responsive" alt="">
                </a>
            </div>-->

        </div>
    </div>
</section>


<section class="light"  id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>More Info</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Utilized Data Sources</h4>
                Core Models were designed based on the information derived from published literature. Genomes were annotated using RAST annotation pipeline and core models were generated using <a href="http://kbase.us" target="_blank">KBase</a> resources.  We've done our best to cite contributing data sources here. If you believe your data has been utilized and not properly cited, please email us <a href="mailto:janaked@anl.gov">here</a>.<br>
                <br>


                <h4>Sources Funding Development</h4>
                This material was based upon work supported by the U.S. Department of Energy, Office of Biological and Environmental Research; under contract DE-AC02-06CH11357 and by the National Science Foundation grant number MCB-1153357<br>
                <br>


                <h4>Citing the ModelSEED</h4>
                Henry, C.S., DeJongh, M., Best, A.B., Frybarger, P.M., Linsay, B., and R.L. Stevens. High-throughput Generation and Optimization of Genome-scale Metabolic Models. Nature Biotechnology, (2010).<br>
                [New citation to follow]<br>
                <br>

                <h4>Core Development Team</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Contributor</th>
                            <th hide-sm>Institutions</th>
                            <th>Division</th>
                            <th>Role</th>
                        </tr>
                    <thead>
                    <tbody>
                        <tr>
                            <td>Neal Conrad</td>
                            <td hide-sm>
                                <a href="http://www.uchicago.edu/" target="_blank">UChicago</a> &<br>
                                <a href="http://www.anl.gov/" target="_blank">Argonne National Laboratory</a>
                            </td>
                            <td>
                                <a href="https://www.ci.uchicago.edu/" target="_blank">Computational Institute</a> &<br>
                                <a href="https://www.cels.anl.gov/" target="_blank">Computing, Environment and Life Sciences</a>
                            </td>
                            <td>UI Developer</td>
                        </tr>
                        <tr>
                            <td>Janaka Edirisinghe</td>
                            <td hide-sm>
                                <a href="http://www.uchicago.edu/" target="_blank">UChicago</a> &<br>
                                <a href="http://www.anl.gov/" target="_blank">Argonne National Laboratory</a>
                            </td>
                            <td>
                                <a href="https://www.ci.uchicago.edu/" target="_blank">Computation Institute</a> &<br>
                                <a href="https://www.cels.anl.gov/" target="_blank">Computing, Environment and Life Sciences</a>
                            </td>
                            <td>Researcher & Developer</td>
                        </tr>
                        <tr>
                            <td>José Pedro Lopes Faria</td>
                             <td hide-sm>
                                <a href="http://www.uchicago.edu/" target="_blank">UChicago</a> &<br>
                                <a href="http://www.anl.gov/" target="_blank">Argonne National Laboratory</a>
                            </td>
                            <td>
                                <a href="https://www.ci.uchicago.edu/" target="_blank">Computation Institute</a> &<br>
                                <a href="https://www.cels.anl.gov/" target="_blank">Computing, Environment and Life Sciences</a>
                            </td>
                            <td>Researcher & Developer</td>
                        </tr>
                        <tr>
                            <td>Michael Mundy</td>
                            <td hide-sm>
                                <a href="http://www.mayoclinic.org/" target="_blank">Mayo Clinic</a>
                            </td>
                            <td>
                                <a href="http://mayoresearch.mayo.edu/mayo/research/center-for-individualized-medicine/microbiome-program.asp" target="_blank">Center for Individualized Medicine Microbiome Program</a>
                            </td>
                            <td>Developer</td>
                        </tr>
                        <tr>
                            <td>Sam Seaver</td>
                            <td hide-sm>
                                <a href="http://www.uchicago.edu/" target="_blank">UChicago</a> &<br>
                                <a href="http://www.anl.gov/" target="_blank">Argonne National Laboratory</a>
                            </td>
                            <td>
                                <a href="https://www.ci.uchicago.edu/" target="_blank">Computation Institute</a> &<br>
                                <a href="https://www.cels.anl.gov/" target="_blank">Computing, Environment and Life Sciences</a>
                            </td>
                            <td>Researcher & Developer</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://www.mayo.edu/research/faculty/chia-nicholas-ph-d/bio-20087464" target="_blank">Nicholas Chia</a>
                            </td>
                            <td hide-sm>
                                <a href="http://www.mayoclinic.org/" target="_blank">Mayo Clinic</a>
                            </td>
                            <td>
                                <a href="http://mayoresearch.mayo.edu/mayo/research/center-for-individualized-medicine/microbiome-program.asp" target="_blank">Center for Individualized Medicine Microbiome Program</a>
                            </td>
                            <td>Principal Investigator</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://www.mcs.anl.gov/person/christopher-henry" target="_blank">Chris Henry</a>
                            </td>
                            <td hide-sm>
                                <a href="http://www.uchicago.edu/" target="_blank">UChicago</a> &<br>
                                <a href="http://www.anl.gov/" target="_blank">Argonne National Laboratory</a>
                            </td>
                            <td>
                                <a href="https://www.ci.uchicago.edu/" target="_blank">Computational Institute</a> &<br>
                                <a href="https://www.cels.anl.gov/" target="_blank">Computing, Environment and Life Sciences</a>
                            </td>
                            <td>Principal Investigator & Developer</td>
                        </tr>
                    </tbody>
                </table>

                <h4>Questions, comments, and bug reports?</h4>
                Please direct questions, comments, and bug reports on our site to our development team via <a href="mailto:nconrad@anl.gov">email</a>
                or on <a href="http://www.github.com/modelseed/ModelSEED-UI/issues" target="_blank">github</a>.

            </div>
        </div>

    </div> <!-- end container -->
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="footer-col col-md-4">
                    <h3>Join the Mailing List!</h3>
                    <div class="row">
                        <div class="col-lg-12">

                            <div id="mc_embed_signup">
                                <form action="//theseed.us11.list-manage.com/subscribe/post?u=dcadcc832fbfbab13d3b62a5e&amp;id=4c3f21e2f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                    <div class="input-group">
                                        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="you@example.com">

                                        <span class="input-group-btn">
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_dcadcc832fbfbab13d3b62a5e_4c3f21e2f7" tabindex="-1" value=""></div>
                                            <div class="clear">
                                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn md-primary" >
                                            </div>
                                        </span>
                                    </div>
                                    </div>
                                </form>
                            </div>

                            <!--
                            <form method="POST">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="email" size="30" placeholder="you@example.com">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="Submit" name="submit">
                                            Subscribe
                                        </button>
                                    </span>
                                </div>
                            </form>
                            -->
                        </div>
                    </div>
                    <br>
                    <div class="sub-text">
                        Stay up to date with the latest on ModelSEED 2.0.
                        Unsubscribe at any time.
                    </div>
                </div>
                <div class="footer-col col-md-4">
                    <h3>On Github!</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.github.com/modelseed/ModelSEED-UI" target="_blank" class="btn-social">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-col col-md-4">
                    <h3>About ModelSEED</h3>
                    <div class="sub-text">
                        ModelSEED is a free, open source application created by <a href="#home/#more">The ModelSEED Team</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2015 ModelSEED
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top" du-smooth-scroll>
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

</div>
