<div class="container" layout="row">
    <div hide-sm style="margin: 3px 30px 0 0;" class="logo">
        <a ui-sref="main.home">
            <img src="img/ModelSEED-logo.png" width="174">
            <div class="ms-status">(beta)</div>
        </a>
    </div>

    <ul class="md-toolbar-tools about-toolbar">
        <md-button class="md-raised md-primary pull-right"
                   ui-sref="app.biochem({chem: 'reactions'})">
            Biochemistry
        </md-button>
        <li ng-class="{ active: $state.includes('main.team') }">
            <a ui-sref="main.team">
                Team
            </a>
        </li>

        <li ng-class="{ active: $state.includes('main.publications') }">
            <a ui-sref="main.publications">
                Publications
            </a>
        </li>


        <li ng-class="{ active: $state.includes('main.projects') }">
            <a ui-sref="main.projects">
                Projects
            </a>
        </li>

        <li ng-class="{ active: $state.includes('main.events') }">
            <a ui-sref="main.events">
                Events
            </a>
        </li>
        
        <li>
            <a href="escher/escher_builder.html" target="_blank">
                Escher
            </a>
        </li>        
        
        <!-- TODO MODELSEED-59: KBASE trap>
            <md-button md-no-ink ng-click="toggleOperations($event, 'kbase')" 
                class="md-raised md-primary pull-right" aria-label="view analysis options">
                 KBase
                <md-tooltip ng-if="!selected">View Analysis options</md-tooltip>
            </md-button-->
            
            
                    
     

        <span flex></span>

        <li ng-class="{ active: $state.includes('main.about') }">
            <a ui-sref="main.about">
                About
            </a>
        </li>


        <div>
            <md-button ng-if="!$root.user" class="md-raised md-primary pull-right" ui-sref="app.RefModels">
                Sign In
            </md-button>
            <md-button ng-if="$root.user"  class="md-raised md-primary pull-right" ui-sref="app.RefModels">
                ModelSEED <md-icon class="material-icons" style="margin-bottom: 3px;">input</md-icon>
            </md-button>
        </div>
    </ul>
</div>
