
<div style="background:black;border:1px solid #cccccc;padding: 10px;">
    <ul class="toolbar">
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Microbes', '0')">
                <span hide-sm>PublicMicrobialModels</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Plants', '0')">
                <span hide-sm>PublicPlantModels</span>
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" ng-click="changeView('Plants', '2')">
                <span hide-sm>Subsystems</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-1">
            <a ui-sref="app.genomes" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1">
            <a ui-sref="app.biochem">
                <span hide-sm>Reactions/Compounds</span>
            </a>
        </li>
        
        <li ng-class="{ active: $state.includes('app.media') }" id="tour-1">
            <a ui-sref="app.media">
                <span hide-sm>Media</span>
            </a>
        </li>
    </ul>
</div>


<div class="h2">Media</div>
<hr class="no-margin">


<md-tabs md-selected="tabs.tabIndex" md-no-ink md-dynamic-height>
    <md-tab>
        <md-tab-label><i class="material-icons tab-icon">public</i> Public</md-tab-label>
        <md-tab-body>
            <ng-table-selector table-header="mediaHeader"
                       table-data="media"
                       table-opts="mediaOpts"
                       table-loading="loading"
                       table-placeholder="Search media"
                       on-submit="submit"
                       submit-btn-class="md-raised md-primary"
                       submit-btn-type="add"
                       submit-btn-template="Copy $count media"
                       submit-progress-text="Copying...">
            </ng-table-selector>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>
            <i class="material-icons tab-icon">assignment_ind</i> Mine
            (<span class="label-gapfill-count">{{myMedia.length}}</span>)
        </md-tab-label>
        <md-tab-body>
            <ng-table-selector table-header="myMediaHeader"
                        table-data="myMedia"
                        table-opts="myMediaOpts"
                        table-loading="loadingMyMedia"
                        on-submit="deleteMedia"
                        submit-btn-template="Delete $count media"
                        submit-btn-type="remove"
                        submit-btn-class="md-warn md-raised"
                        submit-progress-text="Deleting..."
                        on-default="newMedia"
                        default-btn-template="New media"
                        default-btn-type="add"
                        default-btn-class="md-primary md-raised"
                        table-placeholder="Search my media">
            </ng-table-selector>
        </md-tab-body>
    </md-tab>
</md-tabs>
