
<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
    <ul class="md-toolbar-tools about-toolbar">
       <!-- 
        <li ng-class="{ active: $state.includes('app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Microbes'})">
                <span hide-sm>Public Microbial Models</span>
            </a>
        </li>
        -->
        
        <li ng-class="{ active: $state.includes('app.RefModels', {ref: 'Plants'}) }" style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Plants'})">
                 Public Plant Models
           </a>
        </li>
        <li ng-class="{ active: $state.includes('app.RefModels', {ref: 'Annotations'}) }" style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels({ref: 'Annotations'})">
                Subsystems
            </a>
        </li>
        <!-- 
        <li ng-class="{ active: $state.includes('app.app.RefModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.RefModels" tabIndex='0'>
                <span hide-sm>FunctionalRoles</span>
            </a>
        </li>
        -->
        <li ng-class="{ active: $state.includes('app.biochem', {chem: 'reactions'}) }" id="tour-1" style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'reactions'})">
                Reactions
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.biochem', {chem: 'compounds'}) }" id="tour-1" style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.biochem({chem: 'compounds'})">
                Compounds
            </a>
        </li>
        <li ng-class="{ active: $state.includes('app.media') }"  style="font-size: 16pt; border-right: 1px solid #bbb;">
            <a ui-sref="app.media">
                Media
            </a>
        </li>
    </ul>
</div>


<div class="h2">Media</div>
<hr class="no-margin">

            <ng-table-selector table-header="mediaHeader"
                       table-data="media"
                       table-opts="mediaOpts"
                       table-loading="loading"
                       table-placeholder="Search media"
                       on-submit="submit"
                       submit-btn-class="md-raised md-primary"
                       submit-btn-type="add"
                       submit-btn-template="Copy $count media"
                       submit-progress-text="Copying...">
            </ng-table-selector>
