
<div style="background:#4B0082;border:1px solid #cccccc;padding: 10px;">
<ul class="toolbar">
    <li ng-class="{ active: $state.includes('app.myModels') }" id="tour-1">
        <a ui-sref="app.myModels">
            <span hide-sm>My Models</span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('app.myMedia') }" id="tour-1">        
        <a ui-sref="app.myMedia">
            <span hide-sm>My Media</span>
        </a>
    </li>
    
</ul>
</div>

<div layout="row">
    <div class="content-header" flex>My Media<br>
        <small class="help-text" hide-sm>Click on a media row to view...</small>
    </div>
</div>

<!-- From original \views\media.html: -->
            <ng-table-selector table-header="myMediaHeader"
                        table-data="myMedia"
                        table-opts="myMediaOpts"
                        table-loading="loadingMyMedia"
                        on-submit="deleteMedia"
                        submit-btn-template="Delete $count media"
                        submit-btn-type="remove"
                        submit-btn-class="md-warn md-raised"
                        submit-progress-text="Deleting..."
                        on-default="newMedia"
                        default-btn-template="Create New media"
                        default-btn-type="add"
                        default-btn-class="md-primary md-raised"
                        table-placeholder="Search my media">
            </ng-table-selector>
 <!-- end from original... -->



<hr class="no-margin">


<div ng-if="error" class="ms-color-error">
    {{error}}
</div>
