
<div style="background:#2D224E;border:1px solid #cccccc;padding: 10px;">
<ul class="toolbar">
    <li ng-class="{ active: $state.includes('app.myModels') }" id="tour-1" style="border-right: 1px solid #bbb;">
            <a ui-sref="app.myModels">    
            <span hide-sm>My Models</span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('app.myMedia') }" id="tour-1">
            <a ui-sref="app.myMedia">    
                <span hide-sm>My Media</span>
            </a>
    </li>    
</ul>
</div>


<div flex="30" class="vertical-center" layout="row" layout-align="start">
    <button class="md-primary md-raised md-button" ui-sref="app.plantPage" ng-click="changeView('Plants', '0')">Build New Model</button>
</div>

<div layout="row">
    <div class="content-header" flex>My Models<br>
        <!-- <small class="help-text" hide-sm>Click on a model row to view FBA, Gapfill, and the associated data.</small> -->
    </div>
</div>

<hr class="no-margin">

<div ng-if="myModels.length">
    <div class="table-controls" layout="row" >
        <md-input-container md-no-float flex="45">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="opts.query" type="text" placeholder="Search models">
        </md-input-container>

        <md-input-container pagination
            pagination-offset="opts.offset"
            pagination-limit="opts.limit"
            pagination-total="filtered.length"
            layout="row"
            layout-align="end center" flex>
        </md-input-container>
    </div>




    <!-- HEADER -->
    <div layout="row">
        <!-- <div class="expand-container vertical-center"></div>  -->

        <div flex="10" layout="row" layout-align="start center">
            <b>Model ID</b>
        </div>

        <div flex="15" layout="row" layout-align="start center">
            <b>Species Name</b>
        </div>

        <div flex="5" layout="row" layout-align="start center">
            <b>Species Domain</b>
        </div>

        <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Reactions</b></div>
        </div>

        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Genes</b></div>
        </div>

        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>FBA</b></div>
        </div>
        
        <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
            <div><b>Gapfilling</b></div>
        </div>        



       <div flex="10" layout="row" layout-align="end center" hide-md hide-sm >
            <div><b>Status</b></div>
        </div>




        <div flex="15" layout="row" layout-align="end center" hide-md hide-sm >
            <div><b>Modification Date</b></div>
        </div>

        <div flex="15" layout="row" layout-align="center center">
            <div><b>Commands</b></div>
        </div>
    </div>



 
    <div ng-repeat-start="item in (filtered = ( myModels | filter: opts.query) | limitTo : opts.limit : opts.offset)"
	     ng-click="showRelatedData(item)"
         class="row-hover my-model">



        <model-item layout="row">
        <!-- <model-item ng-if="item.status && item.status=='complete'" layout="row">  -->
        <!-- <model-item ng-if="item.status" layout="row">  -->

            <div flex="10" class="vertical-center">
              <div ng-if="item.status && item.name && item.status=='complete'">
                <a ui-sref="app.modelPage({path: item.path})" ng-click="showRelatedData(item)">
                    <md-tooltip md-delay="800">View Model</md-tooltip>
                    {{item.name}}
                </a><br>
              </div>
              
              
              
              <div ng-if="item.status && item.name && item.status!='complete'">

                    {{item.name}}
                    
                <br>
              </div>
                            
              
              
              <div ng-if="!item.status || !item.name">
                  -
              </div>
              
            </div>

            <div flex="15" layout="row" layout-align="start center">
              <div ng-if="item.status && item.status=='complete'">              
                <a ui-sref="app.modelPage({path: item.path})" ng-click="showRelatedData(item)">
                <md-tooltip  md-delay="800">View Model</md-tooltip>
                    {{item.orgName}}
                </a>
              </div>
              <div ng-if="item.status && item.status!='complete'">
                  -
              </div>              
            </div>

            <div flex="5" layout="row" layout-align="start center">
                    {{( item.status && item.status=='complete' )?isPlant(item.path):'-'}}
            </div>
                
            <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
                    {{( item.status && item.status=='complete' )?item.rxnCount:'0'}} 
            </div>

            <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
                    {{( item.status && item.status=='complete' )?item.geneCount:'0'}}    
            </div>

            <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
                    {{( item.status && item.status=='complete' )?item.fbaCount:'0'}}      
            </div>

            <div flex="8" layout="row" layout-align="end center" hide-md hide-sm>
                    {{( item.status && item.status=='complete' )?item.gapfillCount:'0'}}    
            </div>
 
 
 
           <div flex="10" layout="row" layout-align="end center" hide-md hide-sm>
             <div ng-if="item.status">
                 <div ng-if="item.status=='queued'"><b>{{item.status}}</b></div>
                 <div ng-if="!(item.status=='queued')">{{item.status}}</div>                  
                 <!-- <div>{{item.status}}</div>  -->
             </div>
             <div ng-if="! item.status">
                 None
             </div>
                  
           </div> 
 
 
 
        
        <div flex="15"  layout="row" layout-align="end center" hide-md hide-sm>
            <div>{{relativeTime(item.timestamp)}}</div>
        </div>
              
        <div flex="15" layout="column" layout-align="end center">
            <md-button md-no-ink ng-click="toggleOperations($event, 'download', item)" aria-label="view download options">
                <md-tooltip ng-if="!selected">View download options</md-tooltip>
                <i class="icon-file-download"></i>
            </md-button>
            <md-button md-no-ink ng-click="rmModel($event, $index, item, 'plant')" aria-label="delete model">
                <md-tooltip ng-if="!selected">Delete model</md-tooltip>
                <i class="icon-highlight-remove"></i>
            </md-button>         
        </div>
              
       </model-item>



        <!-- 
        <status-item ng-if="item.status && item.status=='constructing'" layout="row">
            <div>
                Model {{item.name}} ({{item.orgName}}) is reconstructing...
            </div>
            <div flex class="timestamp vertical-center">
                <small>{{relativeTime(item.timestamp)}}</small>
            </div>
        </status-item>
        
        <status-item ng-if="item.status && item.status=='queued'" layout="row">
            <div>
                Model {{item.name}} ({{item.orgName}}) is queueing...
            </div>
            <div flex class="timestamp vertical-center">
                <small>{{relativeTime(item.timestamp)}}</small>
            </div>
        </status-item>
        
        <status-item ng-if="item.status && item.status=='failed'" layout="row">
            <div>
                Model {{item.name}} ({{item.orgName}}) construction failed...
            </div>
            <div flex class="timestamp vertical-center">
                <small>{{relativeTime(item.timestamp)}}</small>
            </div>
        </status-item>        
         -->
                
    </div>

    <div ng-repeat-end ng-if="item.relatedFBAs || item.relatedGapfills" class="small-tabs my-model-tabs">
        <!-- 
        <md-tabs md-selected="tabs.selectedIndex" md-no-ink md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    FBA Simulations
                    (<span class="label-fba-count">{{item.fbaCount}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-fbas.html'">
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    Gapfills
                    (<span class="label-gapfill-count">{{item.gapfillCount}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-gapfills.html'">
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    Expression Data
                    (<span class="color-bright-purple">{{item.expression.length}}</span>)
                </md-tab-label>

                <md-tab-body>
                    <ng-include src="'app/views/lists/expanded-expression.html'">
                </md-tab-body>
            </md-tab>        
                
        </md-tabs>
        -->
    </div>
    
    <br>
    <div ng-if="filtered.length == 0 && !loading" class="alert alert-warning">No model found</div>
</div>



<section ng-controller="SideNav">
    <md-sidenav  class="dl-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="downloadOpts">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Download</h1>
        </md-toolbar>
        <md-content layout-padding layout="column" layout-align="center left">
            <md-progress-circular ng-if="loadingDownloads"
                                  md-mode="indeterminate"
                                  md-diameter="30">
            </md-progress-circular>

            <table ng-if="!loadingDownloads" class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i> <a href="{{selected.downloads.sbml.url}}">{{selected.downloads.sbml.name}}</a>
                        </td>
                        <td>
                            <img src="img/sbml-logo-32.png" height="18">
                        </td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.sbml.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i>  <a href="{{selected.downloads.json.url}}">{{selected.downloads.json.name}}</a>
                        </td>
                        <td>JSON</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.json.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i>  <a href="{{selected.downloads.rxnTable.url}}">{{selected.downloads.rxnTable.name}}</a>
                        </td>
                        <td>Tab-separated</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.rxnTable.size )}}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-file-download"></i> <a href="{{selected.downloads.cpdTable.url}}">{{selected.downloads.cpdTable.name}}</a>
                        </td>
                        <td>Tab-separated</td>
                        <td class="text-light">
                            <small>{{uiTools.readableSize( selected.downloads.cpdTable.size )}}</small>
                        </td>
                    </tr>
                </tbody>
            </table>

            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>
</section>



<md-progress-circular ng-if="loadingMicrobes" md-mode="indeterminate">
</md-progress-circular>
<md-progress-circular ng-if="loadingPlants" md-mode="indeterminate">
</md-progress-circular>


<div ng-if="myMicrobes && !myMicrobes.length" > 
    <br>
    You have no microbial models.  Consider resconstructing a model.
</div>

<div ng-if="myPlants && !myPlants.length" >
    <br>
    You have no plant models.  Consider resconstructing a model.
</div>

<div ng-if="error" class="ms-color-error">
    {{error}}
</div>
