


<div layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                style="height: 100%;" flex>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide-md show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
            </p>
        </md-content>
    </md-sidenav>




    <div layout="column" tabindex="-1" role="main" flex>
        <md-toolbar class="md-toolbar-tools">

                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <a class="navbar-brand" ui-sref="home">
                        ModelSEED
                    </a>
                </h2>

                <ul class="nav navbar-nav navbar-top-links">
                    <li ng-class="{ active: $state.includes('app.biochem') }">
                        <a ui-sref="app.biochem">
                            <i class="icon-benzene"></i> Biochemistry
                        </a>
                    </li>
                    <li ng-class="{ active: $state.includes('app.reconstruct') }">
                        <a ui-sref="app.reconstruct">
                            <i class="icon-tools"></i> Reconstruct
                        </a>
                    </li>
                    <!--<li ng-class="{ active: $state.includes('app.myData') }">
                        <a ui-sref="app.myData({dir: '/'+$root.user})">
                            <i class="icon-archive2"></i> All Files
                        </a>
                    </li>-->
                    <li ng-class="{ active: $state.includes('app.myModels') }">
                        <a ui-sref="app.myModels">
                            <i class="icon-folder-open-o"></i> My Models
                        </a>
                    </li>

                    <!--
                    <li ng-class="{ active: $state.includes('app.reconstruct') }">
                        <a ui-sref="app.reconstruct">
                            <i class="icon-tools"></i> Reconstruct
                        </a>
                    </li>-->
                    <!--<li ng-class="{ active: $state.includes('app.publicModels') }">
                        <a ui-sref="app.publicModels">
                            <i class="icon-earth"></i> Public
                        </a>
                    </li>-->
                    <!--<li ng-class="{ active: $state.includes('app.modelEditor')}" >
                        <a ui-sref="app.modelEditor">Model Editor</a>
                    </li>-->
                    <!--<li ng-class="{ active: $state.includes('app.compare')}" >
                        <a ui-sref="app.compare">
                            <i class="icon-lab"></i>
                            Analysis
                            <span class="model-count" ng-controller="ModelCount">({{MV.models.length}})</span>
                        </a>
                    </li>-->
                </ul>
                <span flex></span>


        </md-toolbar>
    </div>
</div>
