

<nav class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <div id="selected-models" ng-controller="SelectedData">
            <div class="header">

                <i class="icon-lab"></i>
                Model Analysis
                <span class="model-count" ng-controller="ModelCount">({{MV.models.length}})</span>

                <div class="pull-right" ng-if="MV.models.length">
                    (<a ng-click="MV.rmAll()">
                        <small>Clear All</small>
                    </a>)
                </div>
            </div>

            <ul ng-show="MV.models.length" class="list-unstyled">
                <li ng-repeat="item in MV.models track by $index">

                    <div class="ellipsis selected-data-item" ng-click="makeActive($event)">
                        <a ui-sref=".modelPage({path: item.model})"
                           class="model">
                           {{item.org}}
                        </a>
                        <i class="icon-close hover pointer"
                              ng-click="MV.rm($index)">
                        </i>
                    </div>

                    <div class="ellipsis selected-data-item">
                        <a ui-sref=".fbaPage({path: item.fba})"
                           class="fba" ng-click="makeActive($event)">
                           <span class="label label-fba">FBA</span> {{item.media}}
                        </a>

                        <i class="glyphicon glyphicon-cog hover pointer"
                              ng-click="openFBAView($event, $index, item)">
                        </i>
                    </div>
                </li>
            </ul>

            <div ng-if="!MV.models.length" class="warning-msg">
                <div class="text-muted">Coming soon</div>
            </div>
        </div>
    </div>

    <div class="sidebar-nav-small" style="display: none;">
        <ul class="nav">
            <li>
                <a ui-sref="app.compare">
                    <span class="badge model-count">{{MV.models.length}}</span>
                </a>
            </li>
        </ul>
    </div>

</nav>
