

<div ng-if="!filters.myGenomes">
    <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
        
    <div ng-repeat="p in plants" layout="row" class="plant-row md-whiteframe-z1 plant-row-hover">

        <img ng-if="p.meta.image" width="100" height="100" src="{{p.meta.image}}">
        <img ng-if="!p.meta.image" src="http://placehold.it/100x100">

        <div flex>
            <a ui-sref="app.genomePage({path: p.path})">
                <md-tooltip md-direction="right" md-delay="800">View Genome</md-tooltip>
                {{p.meta.name}}
            </a>
            <br>

            <i>{{p.meta.organism}}</i><br>
            <div ng-if="p.meta.links" class="links" hide-sm>
                Links:
                <div ng-repeat="link in p.meta.links track by $index" class="inline">
                    <a href="{{link.url}}" target="_blank">{{link.name}}</a>
                    {{$index != p.meta.links.length-1 ? '|' : ''}}
                </div>
            </div>
        </div>

        <div layout-align="center end" class="actions">
            <a ui-sref="app.modelPage({path: plantModelsPath+p.name})">
                View Model
            </a>

            <!--<md-button class="md-raised md-primary" md-no-ink>
                <i class="icon-quill"></i> Annotate
            </md-button>-->
        </div>

    </div>

</div>


<div ng-if="filters.myGenomes">
    <ng-table-two table-header="myPlantsHeader"
                table-data="myPlants"
                table-opts="myPlantsOpts"
                table-loading="loadingMyPlants"
                table-placeholder="Search my plants">
    </ng-table-two>

    <div ng-if="myPlants.length == 0 && !loadingMyPlants" class="alert alert-warning">No private plants found</div>

</div>
