

<div class="h2">Public Models</div>
<hr class="no-margin">

<md-progress-circular ng-if="loading"
                      md-mode="indeterminate"
                      md-diameter="40">
</md-progress-circular>


  <div class="table-controls">
      <div layout="row" layout-align="start start" class="pull-left">
          <i class="fa fa-search query-opt"></i>

          <md-input-container md-no-float>
              <input ng-model="opts.query" type="text" placeholder="Search models" class="query-input">
          </md-input-container>

          <md-progress-circular ng-if="loading"
                                md-mode="indeterminate"
                                class="pull-left"
                                md-diameter="20">
          </md-progress-circular>
      </div>


      <div class="pull-right">
          <span pagination>
              <div ng-disabled="opts.offset == 0"
                   class="btn btn-default btn-sm" ng-click="prev()">
                  <i class="fa fa-chevron-left"></i> prev
              </div>
              <div ng-disabled="opts.offset+opts.limit > filtered.length"
                   class="btn btn-default btn-sm" ng-click="next()">next
                  <i class="fa fa-chevron-right"></i>
              </div>
          </span>
      </div>

      <div class="pull-right query-opt">
          {{opts.offset+1}}-{{opts.offset + opts.limit}} of {{filtered.length}} models
      </div>
  </div>


<table class="table">
    <thead sortable>
        <tr>
            <th></th>
            <th ng-click="sortBy($event, 'orgName')">Organism</th>
            <th ng-click="sortBy($event, 'name')">ID</th>
            <th ng-click="sortBy($event, 'rxnCount')">Reactions</th>
            <th ng-click="sortBy($event, 'cpdCount')">Compounds</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="item in (filtered = ( data | filter: opts.query
                                                  | orderBy : opts.sort.field : opts.sort.desc)
                                                  | limitTo : opts.limit : opts.offset)"
            ng-click="showFBAs($event, item)"
            class="table-hover">
            <td>
                <i ng-if="!item.loading && !item.relatedFBAs"
                   class="fa fa-caret-right"
                   style="opacity: 0.5;"></i>
                <i ng-if="item.relatedFBAs"
                   class="fa fa-caret-down"
                   style="opacity: 1.0;"></i>
                <img ng-if="item.loading"
                     src="img/ajax-loader.gif"
                     width="15" height="15"
                     style="position: absolute;"></img>
            </td>
            <td>
                {{::item.orgName}}
            </td>
            <td><a ui-sref="app.modelPage({ws: item.ws, name: item.name})">{{::item.name}}</a></td>
            <td>{{::item.rxnCount}}</td>
            <td>{{::item.cpdCount}}</td>
        </tr>
        <tr ng-if="item.relatedFBAs" ng-repeat-end>
            <td colspan="5">
                <ng-include src="'app/views/public/expanded-fbas.html'">
            </td>
        </tr>
    </tbody>
</table>




