
<div layout="row">
    <div flex="50" class="content-header">
        {{filters.myGenomes ? 'My' : 'Public'}} {{view.slice(0, -1)}} Genomes
        <br>
        <small class="help-text" hide-sm>Select a genome from below to reconstruct</small>
    </div>

    <md-input-container flex="35" layout-align="center center">
        <md-switch md-no-ink
                   ng-model="filters.myGenomes"
                   aria-label="view my genomes"
                   ng-click="toggleMyGenomes()">
            View my genomes
        </md-switch>
    </md-input-container>

    <md-radio-group ng-model="view" ng-change="changeView(view)" md-no-ink class="plants-toggle" >
        <md-radio-button value="Microbes"><i class="icon-microscope"></i> Microbes</md-radio-button>
        <md-radio-button value="Plants"><i class="icon-leaf"></i> Plants</md-radio-button>
    </md-radio-group>
</div>
<hr class="no-margin">


<div ng-if="view == 'Microbes'" class="table-controls" layout="row">
    <md-input-container class="table-settings">
        <button ng-click="showMenu()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-visible table-settings">
            <li ng-repeat="item in columns">
                <div ng-click="toggle(item.prop, opts.visible)">
                  <i class="fa {{exists(item.prop, opts.visible) ? 'fa-check-square-o' : 'fa-square-o'}}"></i>{{item.label}}
                </div>
            </li>
        </ul>
    </md-input-container>

    <md-input-container md-no-float flex="45">
        <md-icon class="material-icons">search</md-icon>
        <input ng-model="opts.query" type="text" placeholder="Search PATRIC genomes" class="query-input">
    </md-input-container>

    <md-progress-circular ng-if="loading"
                          class="table-loading"
                          md-mode="indeterminate"
                          md-diameter="20">
    </md-progress-circular>

    <md-input-container pagination layout="row" layout-align="end center" flex>
        <span hide-sm>{{opts.offset+1}}-{{opts.offset+opts.limit}} of {{genomes.numFound}} results</span>
        <div ng-disabled="opts.offset == 0" class="btn btn-default btn-sm" ng-click="prev()">
            <i class="fa fa-chevron-left"></i> prev
        </div>
        <div class="btn btn-default btn-sm" ng-click="next()">next
            <i class="fa fa-chevron-right"></i>
        </div>
    </md-input-container>
</div>

<table ng-if="view == 'Microbes'" class="table">
    <thead sortable>
        <tr>
            <th></th>
            <th ng-repeat="h in opts.visible" ng-click="sortBy($event,h)">
                {{getLabel(h)}}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="g in genomes.docs"
            ng-click="reconstruct($event, g)"
            class="table-hover">

            <td>
                <i class="fa {{selected.genome_id == g.genome_id ? 'fa-circle' : 'fa-circle-o'}}"></i>
            </td>
            <td ng-repeat="col in opts.visible">
                <a ng-if="col == 'genome_name'"
                   href="https://www.patricbrc.org/portal/portal/patric/Genome?cType=genome&cId={{g['genome_id']}}"
                   target="_blank"
                   ng-click="$event.stopPropagation()">{{g[col]}}</a>
                <span ng-if="col != 'genome_name'">{{g[col]}}</span>
            </td>

            <td ng-if="genomes.docs == 0 && !loading">No genome found</td>
        </tr>
    </tbody>
</table>

<div ng-if="view == 'Plants' && !filters.myGenomes">
    
    <div ng-repeat="p in plants" layout="row" class="plant-row">

        <img width="150" height="150" src="data/plants/img/{{p.image}}">
        <div flex>
            <b>{{p.name}}</b><br>
            <i>{{p.organism}}</i><br>
            <div class="links">
                Links
                <div ng-repeat="link in p.links">
                    <a href="{{link.url}}" ng-class="{bold: link.name == 'PubSEED'}" target="_blank">{{link.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="view == 'Plants' && filters.myGenomes">
    <br>
    Coming soon.
</div>
