
<div layout="row">
    <div class="content-header" flex>
        {{filters.myGenomes ? 'My' : 'Public'}} {{view.slice(0, -1)}} Genomes<br>
        <small ng-if="view == 'Microbes'" class="help-text" hide-sm>Select a genome from below to reconstruct</small>
        <small ng-if="view == 'Plants'" class="help-text" hide-sm>Select a genome from below to annotate</small>
    </div>

    <md-input-container layout-align="center center">
        <md-switch md-no-ink
                   ng-model="filters.myGenomes"
                   aria-label="view my genomes"
                   ng-click="toggleMyGenomes()">
            View my genomes
        </md-switch>
    </md-input-container>

    <md-radio-group ng-if="$root.includePlants" ng-model="view" ng-change="changeView(view)" md-no-ink class="plants-toggle">
        <md-radio-button value="Microbes"><i class="icon-microscope"></i> Microbes</md-radio-button>
        <md-radio-button value="Plants"><i class="icon-leaf"></i> Plants</md-radio-button>
    </md-radio-group>
</div>
<hr class="no-margin">


<div ng-if="view == 'Microbes'" class="table-controls" layout="row">
    <md-input-container class="table-settings">
        <button ng-click="showMenu()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-visible table-settings">
            <li ng-repeat="item in columns">
                <div ng-click="toggle(item.prop, opts.visible)">
                  <i class="fa {{exists(item.prop, opts.visible) ? 'fa-check-square-o' : 'fa-square-o'}}"></i>{{item.label}}
                </div>
            </li>
        </ul>
    </md-input-container>

    <md-input-container md-no-float flex="45"
        search="opts.query" search-opts="opts" search-placeholder="Search {{filters.myGenomes ? 'My' : 'PATRIC'}}  genomes">
    </md-input-container>

    <md-progress-circular ng-if="loading"
                          class="table-loading"
                          md-mode="indeterminate"
                          md-diameter="20">
    </md-progress-circular>

    <md-input-container pagination
        pagination-offset="opts.offset"
        pagination-limit="opts.limit"
        pagination-total="genomes.numFound"
        layout="row"
        layout-align="end center" flex>
    </md-input-container>
</div>

<table ng-if="view == 'Microbes'" class="table">
    <thead sortable>
        <tr>
            <th></th>
            <th ng-repeat="h in opts.visible"
                ng-class="{'sorting-desc': opts.sort.field == h && opts.sort.desc,
                           'sorting-asc': opts.sort.field == h && !opts.sort.desc}"
                ng-click="sortBy($event,h)">
                {{getLabel(h)}}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="g in genomes.docs"
            ng-click="reconstruct($event, g)"
            class="row-hover">

            <td>
                <i class="fa {{selected.genome_id == g.genome_id ? 'fa-circle' : 'fa-circle-o'}}"></i>
            </td>
            <td ng-repeat="col in opts.visible">
                <a ng-if="col == 'genome_name'"
                   href="https://www.patricbrc.org/portal/portal/patric/Genome?cType=genome&cId={{g['genome_id']}}"
                   target="_blank"
                   ng-click="$event.stopPropagation()">{{g[col]}}</a>
                <span ng-if="col != 'genome_name'">{{g[col]}}</span>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="genomes.docs.length == 0 && !loading" class="alert alert-warning">No genome found</div>


<ng-include src="'app/views/plants.html'" ng-if="view == 'Plants'"></ng-include>
