<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('min-width: 870px')"
            style="height: 100%;">

    <md-toolbar ng-controller="LeftCtrl" style="background-color: #444;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <div class="logo">
                <a ui-sref="home">Model<span>SEED<span></a>
            </div>
        </div>

    </md-toolbar>

    <md-content layout-padding>
        <div id="selected-models" ng-controller="SelectedData">
            <div class="header">
                <i class="icon-lab"></i>
                Model Analysis
                <span class="model-count" ng-controller="ModelCount">({{MV.models.length}})</span>

            </div>

            <hr class="no-margin">

            <ul ng-show="MV.models.length" class="list-unstyled">
                <li ng-repeat="item in MV.models track by $index" class="selected-model">

                    <div class="ellipsis selected-data-item" ng-click="makeActive($event)">
                        <a ui-sref=".modelPage({path: item.model})"
                           class="model">
                           {{item.org}}
                        </a>
                        <i class="icon-close hover pointer"
                              ng-click="MV.rm($index)">
                        </i>
                    </div>

                    <div class="ellipsis selected-data-item">
                        <a ui-sref=".fbaPage({path: item.fba})"
                           class="fba" ng-click="makeActive($event)">
                           <span class="label label-fba">FBA</span> {{item.media}}
                        </a>

                        <i class="glyphicon glyphicon-cog hover pointer"
                              ng-click="openFBAView($event, $index, item)">
                        </i>
                    </div>
                </li>
            </ul>
            <div class="pull-right" ng-if="MV.models.length">
                (<a ng-click="MV.rmAll()">
                    <small>Clear All</small>
                </a>)
            </div>

            <div ng-if="!MV.models.length" class="warning-msg">

            </div>
        </div>
    </md-content>
</md-sidenav>
