
<!--div class="md-toolbar-tools"-->
<div class="md-toolbar-tools" style="height: 58px; padding: 10px;">

	<div hide-sm style="margin: 0 40px 0 10px;" class="logo">
	    <a ui-sref="main.home">
	        <img src="img/ModelSEED-logo.png" width="174">
	    </a>
	</div>
	
    <!--
	<md-button flex="22" ui-sref="app.RefModels">
        <span style="font-size: 18pt;">Reference Data</span>	
	</md-button>
	
	<md-button flex="12" ui-sref="app.myModels">
        <span style="font-size: 18pt;">User Data</span>	
	</md-button>
	
	<md-button flex="12" ui-sref="app.plantPage">
        <span style="font-size: 18pt;">Build Model</span>
	</md-button>
     -->
    <ul class="md-toolbar-tools about-toolbar" style="font-size: 18pt;">
        <li ng-class="{ active: $state.includes('app.RefModels') ||
                                $state.includes('app.biochem') ||
                                $state.includes('app.biochem0') ||
                                $state.includes('app.media')}">
	        <a ui-sref="app.RefModels">
	            Reference Data
	        </a>
	    </li>
	       
        <li ng-class="{ active: $state.includes('app.myModels') ||
                                $state.includes('app.myMedia')}">
	        <a ui-sref="app.myModels">
	            User Data
	        </a>
	    </li>
	        
	    <li ng-class="{ active: $state.includes('app.plantPage') }">
	        <a ui-sref="app.plantPage">
	            Build Model
	        </a>
	    </li>
    </ul>
</div>
 
<div class="toolbar-right" layout="row" style="padding: 4px;">
    <div mega-dropdown id="more-dd" style="position: relative;">
        <a class="cursor">More <i class="fa fa-caret-down"></i></a>
        <mega-dropdown-content id="more-dd-content">
            <ul class="list-unstyled">
                <li>
                    <a ui-sref="app.myData({dir: '/'+$root.user})" class="main-opt">
                        <i class="icon-archive2"></i> All My Files
                    </a>
                </li>
                <!--
                <li>
                    <a ui-sref="projects" class="main-opt">
                        <img src="img/ModelSEED-favicon.png"></i>Projects
                    </a>
                </li>
                -->
                <hr class="no-margin">
                <li>
                    <a ui-sref="main.about">About</a>
                </li>
                <!--li>
                    <a ui-sref="main.about.faq">FAQ</a>
                </li-->
                <li>
                    <a ui-sref="main.about.version">Version</a>
                </li>
                <li>
                    <a ui-sref="main.events">Events</a>
                </li>                  
                <li>
                    <a ui-sref="main.projects">Related Projects</a>
                </li>            
                <!--<li>
                    <a ui-sref="app.api"><i class="fa fa-sign-out fa-fw"></i> API Documentation</a>
                </li>-->
            </ul>
        </mega-dropdown-content>
    </div>

    <div ng-if="$root.user" mega-dropdown id="login-dd" ng-controller="Login" style="position: relative;">
        <div class="cursor" layout="row">
            <div layout="column">
                <!--
                <div>{{$root.user.split('@')[0]}}
                <small>@{{$root.user.split('@')[1] ? $root.user.split('@')[1] : ' RAST'}} <i class="fa fa-caret-down"></i></small>
                </div>
                -->              
                <div>{{$root.user.split('@')[0]}}</div>
                <small>@{{$root.user.split('@')[1] ? $root.user.split('@')[1] : ' RAST'}} <i class="fa fa-caret-down"></i></small>
                
            </div>
        </div>

        <mega-dropdown-content>
            <ul class="list-unstyled">
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out fa-fw"></i> Logout
                    </a>
                </li>
            </ul>
        </mega-dropdown-content>
    </div>
    <div ng-if="!$root.user" ng-controller="RefModels">
        <md-button ng-click="signin()"
	        style="padding: 2px; margin-top: 4px; height: 6px;" class="md-raised md-primary pull-right">
                Sign In
        </md-button>
    </div>
</div>
