
<div hide-sm style="margin: 0 40px 0 10px;" class="logo">
    <a ui-sref="main.home">
        <img src="img/ModelSEED-logo.png" width="174">
        <div class="ms-status">(beta)</div>
    </a>
</div>

<ul class="toolbar">
    <li ng-class="{ active: $state.includes('app.biochem') }" id="tour-1">
        <a ui-sref="app.biochem">
            <i class="icon-benzene"></i> <span hide-sm>Biochemistry</span>
        </a>
    </li>
    <!--<li ng-if="$root.includePlants" ng-class="{ active: $state.includes('app.plantAnnotations') }">
        <a ui-sref="app.plantAnnotations">
            <i class="icon-quill"></i> <span hide-sm>Annotations</span>
        </a>
    </li>-->
    <li ng-class="{ active: $state.includes('app.media') }">
        <a ui-sref="app.media">
            <i class="icon-lab2"></i> <span hide-sm>Media</span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('app.genomes') }" id="tour-2">
        <a ui-sref="app.genomes">
            <i class="icon-tools"></i> <span hide-sm>Genomes</span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('app.myModels') }" id="tour-3">
        <a ui-sref="app.myModels">
            <i class="icon-folder-open-o"></i> <span hide-sm>Models</span>
        </a>
    </li>

    <li class="divider"></li>

    <li ng-class="{ active: $state.includes('app.jobs') }" ng-controller="JobCount" class="jobs-link">
        <a ui-sref="app.jobs">
            <i class="fa fa-th-list" style="margin-right: 2px;"></i>
            <span hide-sm>Jobs</span>
            <div class="badge job-count">{{remainingJobCount}}</div>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('app.compare') }" mega-dropdown style="position: relative;">
        <a ui-sref="app.compare">
            <i class="icon-git-compare"></i>
            <span hide-sm>Compare</span>
            <span class="model-count" ng-controller="ModelCount">({{MV.models.length}})</span>

            <i class="caret" style="margin-top: 10px;"></i>
        </a>

        <mega-dropdown-content id="selected-models" class="compare-dd" ng-controller="SelectedData">
            <div class="header">
                <i class="icon-git-compare" style="font-size: 25px !important;"></i>
                Comparative Analysis
                <span class="model-count">({{MV.models.length}})</span>
            </div>

            <hr class="no-margin">

            <ul ng-if="MV.models.length" class="list-unstyled">
                <li ng-repeat="item in MV.models track by $index" class="selected-model">

                    <div>
                        <div class="ellipsis selected-data-item" ng-click="makeActive($event)">
                            <a ui-sref=".modelPage({path: item.model})"
                               class="model">
                               {{item.org}}
                            </a>
                        </div>

                        <div class="sub-item selected-model-list ellipsis">
                             &middot; <a ui-sref=".mediaPage({path: item.media})">
                               {{item.media.split('/').pop()}} (<span class="label-media">Media</span>)
                            </a><br>
                             &middot; <a ui-sref=".fbaPage({path: item.fba})">
                               {{item.fba.split('/').pop()}} (<span class="label-fba">FBA</span>)
                           </a>
                        </div>
                    </div>

                    <div class="selected-model-options">
                        <i class="icon-close hover pointer" ng-click="MV.rm($index)">
                            <md-tooltip md-direction="right" md-delay="600">Remove model</md-tooltip>
                        </i>
                        <br>
                        <i class="glyphicon glyphicon-cog hover pointer"
                           ng-click="openFBAView($event, $index, item)">
                             <md-tooltip md-direction="right" md-delay="600">Modify selected FBA</md-tooltip>
                        </i>
                    </div>

                </li>
            </ul>
            <br>
            <div layout="row" layout-align="end center">
                <a ng-if="MV.models.length" ng-click="MV.rmAll()">
                    Clear All
                </a>
                <md-button ng-if="MV.models.length && !$state.includes('app.compare')" class="md-secondary" ui-sref="app.compare">
                    Compare
                </md-button>
            </div>

            <div ng-if="!MV.models.length" class="warning-msg">
                You have no models selected
            </div>
        </mega-dropdown-content>

    </li>
</ul>

<span flex></span>

<div class="toolbar-right" layout="row">
    <div mega-dropdown id="more-dd" style="position: relative;">
        <a class="cursor">More <i class="fa fa-caret-down"></i></a>
        <mega-dropdown-content id="more-dd-content">
            <ul class="list-unstyled">
                <li>
                    <a ui-sref="app.myData({dir: '/'+$root.user})" class="main-opt">
                        <i class="icon-archive2"></i> All My Files
                    </a>
                </li>
                <!--
                <li>
                    <a ui-sref="projects" class="main-opt">
                        <img src="img/ModelSEED-favicon.png"></i>Projects
                    </a>
                </li>
                -->
                <hr class="no-margin">
                <li>
                    <a ui-sref="main.about">About</a>
                </li>
                <li>
                    <a ui-sref="main.about.faq">FAQ</a>
                </li>
                <li>
                    <a ui-sref="main.about.version">Version</a>
                </li>
                <li>
                    <a ui-sref="main.projects">Projects</a>
                </li>
                <!--<li>
                    <a ui-sref="app.api"><i class="fa fa-sign-out fa-fw"></i> API Documentation</a>
                </li>-->
            </ul>
        </mega-dropdown-content>
    </div>

    <div ng-if="$root.user" mega-dropdown id="login-dd" ng-controller="Login" style="position: relative;">
        <div class="cursor" layout="row">
            <div layout="column">
                <div>{{$root.user.split('@')[0]}}</div>
                <small>@{{$root.user.split('@')[1] ? $root.user.split('@')[1] : ' RAST'}} <i class="fa fa-caret-down"></i></small>
            </div>
        </div>

        <mega-dropdown-content>
            <ul class="list-unstyled">
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out fa-fw"></i> Logout
                    </a>
                </li>
            </ul>
        </mega-dropdown-content>
    </div>
</div>
