<div layout="row">
    <div class="content-header">Subsystem: <b><small>{{subsysName}}</small></b>
        <div class="h5">
            <i class="icon-folder-open-o"></i>
            <a ui-sref="app.mySubsystems({tab: 'mine'})"> >My Subsystems</a>
        </div>
    </div>
    <!--div class="h5">
        <a href="app/components/proteinFam/htmls/proteinFamily-tree.html" target="_blank">Protein family (example)</a>
        <a href="app/components/proteinFam/htmls/proteinFamily-tree-demo.html" target="_blank">Protein family (sample)</a>
        <a href="app/components/proteinFam/htmls/tree-test.html" target="_blank">Protein family tree (test)</a>
        <a href="app/components/proteinFam/htmls/tree-labels.html" target="_blank">Protein family tree (labels)</a>
    </div-->
</div>

<hr class="no-margin">

<!-- passing the subsystem data to the ngTableSubsystem directive -->
<ng-table-subsystem table-header="subsysHeader"
    table-data="subsysData"
    table-data-clone="subsysDataClone"
    table-tree-data-clone="xmlDataClone"
    table-opts="subsysOpts"
    table-loading="loading"
    on-save="save"
    on-save-as="saveAs"
    table-placeholder="Search subsystems">
</ng-table-subsystem>
<!-- end passing ... -->
