<div id='subsystemPage'>
<div layout="row">
    <div class="content-header"><b><small>{{subsysName}}</small></b>
        <!--div class="h5">
            <i class="icon-folder-open-o"></i>
            <a ui-sref="app.mySubsystems({tab: 'mine'})"> >My Subsystems</a>
        </div-->
    </div>
    <div class="dialog-demo-content" layout="column" layout-align="center center" style="width:100%">
        <md-button class="md-primary md-raised"
                ng-click="showDemoIntro($event, 'subsystemPage')" >
            How to browse the subsystem page
        </md-button>
    </div>
</div>

<hr class="no-margin">

<!-- passing the subsystem data to the ngTableSubsystem directive -->
<ng-table-subsystem table-header="subsysHeader"
    table-data="subsysData"
    table-subsys-name="subsysName"
    table-subsys-path="subsysPath"
    table-data-clone="subsysDataClone"
    table-opts="subsysOpts"
    table-all-famtrees="allSubsysFamTrees"
    table-my-famtrees="mySubsysFamTrees"
    table-loading="loading"
    table-is-demo="true"
    on-save="save"
    on-save-as="saveAs"
    on-save-phyloxml="savePhyloXML"
    table-result-text="genome rows"
    table-placeholder="Search subsystem">
</ng-table-subsystem>

<!-- end passing ... -->
</div>
